{"http_interactions":[{"request":{"method":"get","uri":"http://maps.googleapis.com/maps/api/geocode/json?address=London,%20England&sensor=false","body":{"encoding":"UTF-8","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=UTF-8"], "Alternate-Protocol":["80:quic"]},"body":{"encoding":"UTF-8","string":"{\n   \"results\" : [\n      {\n         \"address_components\" : [\n            {\n               \"long_name\" : \"London\",\n               \"short_name\" : \"London\",\n               \"types\" : [ \"locality\", \"political\" ]\n            },\n            {\n               \"long_name\" : \"United Kingdom\",\n               \"short_name\" : \"GB\",\n               \"types\" : [ \"country\", \"political\" ]\n            }\n         ],\n         \"formatted_address\" : \"London, UK\",\n         \"geometry\" : {\n            \"bounds\" : {\n               \"northeast\" : {\n                  \"lat\" : 51.6723432,\n                  \"lng\" : 0.148271\n               },\n               \"southwest\" : {\n                  \"lat\" : 51.38494009999999,\n                  \"lng\" : -0.3514683\n               }\n            },\n            \"location\" : {\n               \"lat\" : 51.51121389999999,\n               \"lng\" : -0.1198244\n            },\n            \"location_type\" : \"APPROXIMATE\",\n            \"viewport\" : {\n               \"northeast\" : {\n                  \"lat\" : 51.6723432,\n                  \"lng\" : 0.148271\n               },\n               \"southwest\" : {\n                  \"lat\" : 51.38494009999999,\n                  \"lng\" : -0.3514683\n               }\n            }\n         },\n         \"types\" : [ \"locality\", \"political\" ]\n      }\n   ],\n   \"status\" : \"OK\"\n}\n"},"http_version":null},"recorded_at":"Wed, 04 Sep 2013 18:10:34 GMT"},{"request":{"method":"get","uri":"http://api.wunderground.com/auto/wui/geo/WXCurrentObXML/index.xml?query=London,%20United%20Kingdom","body":{"encoding":"UTF-8","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"X-Creationtime":["0.062"], "Content-Type":["text/xml"]},"body":{"encoding":"UTF-8","string":"\t<current_observation>\n\t\t<credit>Weather Underground NOAA Weather Station</credit>\n\t\t<credit_URL>http://wunderground.com/</credit_URL>\n<termsofservice link=\"http://www.wunderground.com/weather/api/d/terms.html\">This feed will be deprecated. Please switch to http://www.wunderground.com/weather/api/</termsofservice>\n\t\t<image>\n\t\t<url>http://icons-ak.wxug.com/graphics/wu2/logo_130x80.png</url>\n\t\t<title>Weather Underground</title>\n\t\t<link>http://wunderground.com/</link>\n\t\t</image>\n  <display_location>\n  <full>London, United Kingdom</full>\n  <city>London</city>\n  <state></state>\n  <state_name>United Kingdom</state_name>\n  <country>UK</country>\n  <country_iso3166>GB</country_iso3166>\n  <zip>00000</zip>\n  <latitude>51.47999954</latitude>\n  <longitude>-0.44999999</longitude>\n  <elevation>24.00000000 ft</elevation>\n  </display_location>\n\t\t<observation_location>\n\t\t<full>London, </full>\n\t\t<city>London</city>\n\t\t<state></state>\n\t\t<country>UK</country>\n\t\t<country_iso3166>GB</country_iso3166>\n\t\t<latitude>51.47999954</latitude>\n\t\t<longitude>-0.44999999</longitude>\n\t\t<elevation>79 ft</elevation>\n\t\t</observation_location>\n\t\t<station_id>EGLL</station_id>\n\t\t<observation_time>Last Updated on September 4, 6:50 PM BST</observation_time>\n\t\t<observation_time_rfc822>Wed, 04 Sep 2013 17:50:00 GMT</observation_time_rfc822>\n\t\t<observation_epoch>1378317000</observation_epoch>\n\t\t<local_time>September 4, 7:10 PM BST</local_time>\n\t\t<local_time_rfc822>Wed, 04 Sep 2013 18:10:34 GMT</local_time_rfc822>\n\t\t<local_epoch>1378318234</local_epoch>\n\t\t<weather>Clear</weather>\n\t\t<temperature_string>79 F (26 C)</temperature_string>\n\t\t<temp_f>79</temp_f>\n\t\t<temp_c>26</temp_c>\n\t\t<relative_humidity>36%</relative_humidity>\n\t\t<wind_string>From the SSE at 9 MPH </wind_string>\n\t\t<wind_dir>SSE</wind_dir>\n\t\t<wind_degrees>160</wind_degrees>\n\t\t<wind_mph>9</wind_mph>\n\t\t<wind_gust_mph></wind_gust_mph>\n\t\t<pressure_string>30.04 in (1017 mb)</pressure_string>\r\n\t\t<pressure_mb>1017</pressure_mb>\r\n\t\t<pressure_in>30.04</pressure_in>\r\n\t\t<dewpoint_string>50 F (10 C)</dewpoint_string>\r\n\t\t<dewpoint_f>50</dewpoint_f>\r\n\t\t<dewpoint_c>10</dewpoint_c>\r\n\t\t\r\n\t\t<heat_index_string>NA</heat_index_string>\r\n\t\t<heat_index_f>NA</heat_index_f>\r\n\t\t<heat_index_c>NA</heat_index_c>\r\n\t\t\r\n\t\t\r\n\t\t<windchill_string>NA</windchill_string>\r\n\t\t<windchill_f>NA</windchill_f>\r\n\t\t<windchill_c>NA</windchill_c>\r\n\t\t\r\n\t\t<visibility_mi>N/A</visibility_mi>\r\n\t\t<visibility_km>N/A</visibility_km>\r\n\t\t<icons>\r\n\t\t\t<icon_set name=\"Default\">\r\n\t\t\t\t<icon_url>http://icons-ak.wxug.com/i/c/a/clear.gif</icon_url>\r\n\t\t\t</icon_set>\r\n\t\t\t<icon_set name=\"Smiley\">\r\n\t\t\t\t<icon_url>http://icons-ak.wxug.com/i/c/b/clear.gif</icon_url>\r\n\t\t\t</icon_set>\r\n\t\t\t<icon_set name=\"Generic\">\r\n\t\t\t\t<icon_url>http://icons-ak.wxug.com/i/c/c/clear.gif</icon_url>\r\n\t\t\t</icon_set>\r\n\t\t\t<icon_set name=\"Old School\">\r\n\t\t\t\t<icon_url>http://icons-ak.wxug.com/i/c/d/clear.gif</icon_url>\r\n\t\t\t</icon_set>\r\n\t\t\t<icon_set name=\"Cartoon\">\r\n\t\t\t\t<icon_url>http://icons-ak.wxug.com/i/c/e/clear.gif</icon_url>\r\n\t\t\t</icon_set>\r\n\t\t\t<icon_set name=\"Mobile\">\r\n\t\t\t\t<icon_url>http://icons-ak.wxug.com/i/c/f/clear.gif</icon_url>\r\n\t\t\t</icon_set>\r\n\t\t\t<icon_set name=\"Simple\">\r\n\t\t\t\t<icon_url>http://icons-ak.wxug.com/i/c/g/clear.gif</icon_url>\r\n\t\t\t</icon_set>\r\n\t\t\t<icon_set name=\"Contemporary\">\r\n\t\t\t\t<icon_url>http://icons-ak.wxug.com/i/c/h/clear.gif</icon_url>\r\n\t\t\t</icon_set>\r\n\t\t\t<icon_set name=\"Helen\">\r\n\t\t\t\t<icon_url>http://icons-ak.wxug.com/i/c/i/clear.gif</icon_url>\r\n\t\t\t</icon_set>\r\n\t\t\t<icon_set name=\"Incredible\">\r\n\t\t\t\t<icon_url>http://icons-ak.wxug.com/i/c/k/clear.gif</icon_url>\r\n\t\t\t</icon_set>\r\n\t\t</icons>\r\n\t\t<icon_url_base>http://icons-ak.wxug.com/graphics/conds/</icon_url_base>\r\n\t\t<icon_url_name>.GIF</icon_url_name>\r\n\t\t<icon>clear</icon>\r\n\t\t<forecast_url>http://www.wunderground.com/global/stations/03772.html</forecast_url>\r\n\t\t<history_url>http://www.wunderground.com/history/airport/EGLL/2013/9/4/DailyHistory.html</history_url>\r\n\t\t<ob_url>http://www.wunderground.com/cgi-bin/findweather/getForecast?query=51.47999954,-0.44999999</ob_url>\r\n\t</current_observation>\r\n"},"http_version":null},"recorded_at":"Wed, 04 Sep 2013 18:10:34 GMT"},{"request":{"method":"get","uri":"http://api.wunderground.com/auto/wui/geo/ForecastXML/index.xml?query=London,%20United%20Kingdom","body":{"encoding":"UTF-8","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"X-Creationtime":["0.083"], "Content-Type":["text/xml"]},"body":{"encoding":"UTF-8","string":"<?xml version=\"1.0\" ?>\n<forecast>\n\t\t<termsofservice link=\"http://www.wunderground.com/weather/api/d/terms.html\">This feed will be deprecated. Please switch to http://www.wunderground.com/weather/api/</termsofservice>\n\t<txt_forecast>\n  <date>1:00 AM BST</date>\n  <number></number>\n\t\t<forecastday>\n\t\t<period>0</period>\n\t\t<icon>mostlysunny</icon>\n\t\t<icons>\n\t\t<icon_set name=\"Default\">\n\t\t<icon_url>http://icons-ak.wxug.com/i/c/a/mostlysunny.gif</icon_url>\n\t\t</icon_set>\n\t\t<icon_set name=\"Smiley\">\n\t\t<icon_url>http://icons-ak.wxug.com/i/c/b/mostlysunny.gif</icon_url>\n\t\t</icon_set>\n\t\t<icon_set name=\"Generic\">\n\t\t<icon_url>http://icons-ak.wxug.com/i/c/c/mostlysunny.gif</icon_url>\n\t\t</icon_set>\n\t\t<icon_set name=\"Old School\">\n\t\t<icon_url>http://icons-ak.wxug.com/i/c/d/mostlysunny.gif</icon_url>\n\t\t</icon_set>\n\t\t<icon_set name=\"Cartoon\">\n\t\t<icon_url>http://icons-ak.wxug.com/i/c/e/mostlysunny.gif</icon_url>\n\t\t</icon_set>\n\t\t<icon_set name=\"Mobile\">\n\t\t<icon_url>http://icons-ak.wxug.com/i/c/f/mostlysunny.gif</icon_url>\n\t\t</icon_set>\n\t\t<icon_set name=\"Simple\">\n\t\t<icon_url>http://icons-ak.wxug.com/i/c/g/mostlysunny.gif</icon_url>\n\t\t</icon_set>\n\t\t<icon_set name=\"Contemporary\">\n\t\t<icon_url>http://icons-ak.wxug.com/i/c/h/mostlysunny.gif</icon_url>\n\t\t</icon_set>\n\t\t<icon_set name=\"Helen\">\n\t\t<icon_url>http://icons-ak.wxug.com/i/c/i/mostlysunny.gif</icon_url>\n\t\t</icon_set>\n\t\t<icon_set name=\"Incredible\">\n\t\t<icon_url>http://icons-ak.wxug.com/i/c/k/mostlysunny.gif</icon_url>\n\t\t</icon_set>\n\t\t</icons>\n\t\t<title>September 4, 2013</title>\n\t\t<fcttext>Scattered Clouds. High 27&amp;deg;C (80&amp;deg;F). Winds 3 kph SSE</fcttext>\n\t\t<pop>0</pop>\n\t\t</forecastday>\n\t\t<forecastday>\n\t\t<period>1</period>\n\t\t<icon>sunny</icon>\n\t\t<icons>\n\t\t<icon_set name=\"Default\">\n\t\t<icon_url>http://icons-ak.wxug.com/i/c/a/sunny.gif</icon_url>\n\t\t</icon_set>\n\t\t<icon_set name=\"Smiley\">\n\t\t<icon_url>http://icons-ak.wxug.com/i/c/b/sunny.gif</icon_url>\n\t\t</icon_set>\n\t\t<icon_set name=\"Generic\">\n\t\t<icon_url>http://icons-ak.wxug.com/i/c/c/sunny.gif</icon_url>\n\t\t</icon_set>\n\t\t<icon_set name=\"Old School\">\n\t\t<[...]
{"request":{"method":"get","uri":"http://xoap.weather.com/search/search?where=London,%20England","body":{"encoding":"UTF-8","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Svrname":["data3x20"], "Content-Type":["application/xml;charset=UTF-8"]},"body":{"encoding":"UTF-8","string":"<?xml version=\"1.0\" encoding=\"UTF-8\"?>\r\n<!-- This document is intended only for use by authorized licensees of The  -->\r\n<!-- Weather Channel. Unauthorized use is prohibited.  Copyright 1995-2013, -->\r\n<!-- The Weather Channel Interactive, Inc.  All Rights Reserved.            -->\r\n<search ver=\"3.0\">\r\n  <loc id=\"UKOL0013\" type=\"1\">All England Lawn Tennis and Croquet Club, United Kingdom</loc>\r\n</search>\r\n\r\n"},"http_version":null},"recorded_at":"Wed, 04 Sep 2013 18:10:35 GMT"},{"request":{"method":"get","uri":"http://weather.<YAHOO_KEY>apis.com/forecastrss?p=UKOL0013&u=c","body":{"encoding":"UTF-8","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["text/xml;charset=UTF-8"]},"body":{"encoding":"UTF-8","string":"<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\" ?>\n\t\t<rss version=\"2.0\" xmlns:yweather=\"http://xml.weather.<YAHOO_KEY>.com/ns/rss/1.0\" xmlns:geo=\"http://www.w3.org/2003/01/geo/wgs84_pos#\">\n\t\t\t<channel>\n\t\t\n<title>Yahoo! Weather - All England Lawn Tennis and Croquet Club, UK</title>\n<link>http://us.rd.<YAHOO_KEY>.com/dailynews/rss/weather/All_England_Lawn_Tennis_and_Croquet_Club__UK/*http://weather.<YAHOO_KEY>.com/forecast/UKOL0013_c.html</link>\n<description>Yahoo! Weather for All England Lawn Tennis and Croquet Club, UK</description>\n<language>en-us</language>\n<lastBuildDate>Wed, 04 Sep 2013 6:49 pm BST</lastBuildDate>\n<ttl>60</ttl>\n<yweather:location city=\"All England Lawn Tennis and Croquet Club\" region=\"\"   country=\"UK\"/>\n<yweather:units temperature=\"C\" distance=\"km\" pressure=\"mb\" speed=\"km/h\"/>\n<yweather:wind chill=\"26\"   direction=\"160\"   speed=\"14.48\" />\n<yweather:atmosphere humidity=\"36\"  visibility=\"9.99\"  pressure=\"1015.92\"  rising=\"0\" />\n<yweather:astronomy sunrise=\"6:18 am\"   sunset=\"7:40 pm\"/>\n<image>\n<title>Yahoo! Weather</title>\n<width>142</width>\n<height>18</height>\n<link>http://weather.<YAHOO_KEY>.com</link>\n<url>http://l.yimg.com/a/i/brand/purplelogo//uh/us/news-wea.gif</url>\n</image>\n<item>\n<title>Conditions for All England Lawn Tennis and Croquet Club, UK at 6:49 pm BST</title>\n<geo:lat>51.43</geo:lat>\n<geo:long>-0.21</geo:long>\n<link>http://us.rd.<YAHOO_KEY>.com/dailynews/rss/weather/All_England_Lawn_Tennis_and_Croquet_Club__UK/*http://weather.<YAHOO_KEY>.com/forecast/UKOL0013_c.html</link>\n<pubDate>Wed, 04 Sep 2013 6:49 pm BST</pubDate>\n<yweather:condition  text=\"Fair\"  code=\"34\"  temp=\"26\"  date=\"Wed, 04 Sep 2013 6:49 pm BST\" />\n<description><![CDATA[\n<img src=\"http://l.yimg.com/a/i/us/we/52/34.gif\"/><br />\n<b>Current Conditions:</b><br />\nFair, 26 C<BR />\n<BR /><b>Forecast:</b><BR />\nWed - Mostly Clear. High: 27 Low: 12<br />\nThu - Mostly Sunny. High: 28 Low: 13<br />\nFri - Showers. High: 19 Low: 11<br />\nSat - Sunny. High: 20 Low: 10<br />\nSun - Partly Cloudy. High: 21 Low: 9<br />\n<br />\n<a href=\"http://us.rd.<YAHOO_KEY>.com/dailynews/rss/weather/All_England_Lawn_Tennis_and_Croquet_Club__UK/*http://weather.<YAHOO_KEY>.com/forecast/UKOL0013_c.html\">Full Forecast at Yahoo! Weather</a><BR/><BR/>\n(provided by <a href=\"http://www.weather.com\" >The Weather Channel</a>)<br/>\n]]></description>\n<yweather:forecast day=\"Wed\" date=\"4 Sep 2013\" low=\"12\" high=\"27\" text=\"Mostly Clear\" code=\"33\" />\n<yweather:forecast day=\"Thu\" date=\"5 Sep 2013\" low=\"13\" high=\"28\" text=\"Mostly Sunny\" code=\"34\" />\n<yweather:forecast day=\"Fri\" date=\"6 Sep 2013\" low=\"11\" high=\"19\" text=\"Showers\" code=\"11\" />\n<yweather:forecast day=\"Sat\" date=\"7 Sep 2013\" low=\"10\" high=\"20\" text=\"Sunny\" code=\"32\" />\n<yweather:forecast day=\"Sun\" date=\"8 Sep 2013\" low=\"9\" high=\"21\" text=\"Partly Cloudy\" code=\"30\" />\n<guid isPermaLink=\"false\">UKOL0013_2013_09_08_7_00_BST</guid>\n</item>\n</channel>\n</rss>\n\n<!-- api8.weather.gq1.<YAHOO_KEY>.com Wed Sep  4 18:10:35 PST 2013 -->\n"},"http_version":null},"recorded_at":"Wed, 04 Sep 2013 18:10:35 GMT"}],"recorded_with":"VCR 2.5.0"}