{"http_interactions":[{"request":{"method":"get","uri":"http://maps.googleapis.com/maps/api/geocode/json?address=90210&region=US&sensor=false","body":{"encoding":"UTF-8","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=UTF-8"], "Alternate-Protocol":["80:quic"]},"body":{"encoding":"UTF-8","string":"{\n   \"results\" : [\n      {\n         \"address_components\" : [\n            {\n               \"long_name\" : \"90210\",\n               \"short_name\" : \"90210\",\n               \"types\" : [ \"postal_code\" ]\n            },\n            {\n               \"long_name\" : \"Beverly Hills\",\n               \"short_name\" : \"Beverly Hills\",\n               \"types\" : [ \"locality\", \"political\" ]\n            },\n            {\n               \"long_name\" : \"Los Angeles County\",\n               \"short_name\" : \"Los Angeles County\",\n               \"types\" : [ \"administrative_area_level_2\", \"political\" ]\n            },\n            {\n               \"long_name\" : \"California\",\n               \"short_name\" : \"CA\",\n               \"types\" : [ \"administrative_area_level_1\", \"political\" ]\n            },\n            {\n               \"long_name\" : \"United States\",\n               \"short_name\" : \"US\",\n               \"types\" : [ \"country\", \"political\" ]\n            }\n         ],\n         \"formatted_address\" : \"Beverly Hills, CA 90210, USA\",\n         \"geometry\" : {\n            \"bounds\" : {\n               \"northeast\" : {\n                  \"lat\" : 34.1354771,\n                  \"lng\" : -118.3867129\n               },\n               \"southwest\" : {\n                  \"lat\" : 34.065094,\n                  \"lng\" : -118.4423781\n               }\n            },\n            \"location\" : {\n               \"lat\" : 34.1030032,\n               \"lng\" : -118.4104684\n            },\n            \"location_type\" : \"APPROXIMATE\",\n            \"viewport\" : {\n               \"northeast\" : {\n                  \"lat\" : 34.1354771,\n                  \"lng\" : -118.3867129\n               },\n               \"southwest\" : {\n                  \"lat\" : 34.065094,\n                  \"lng\" : -118.4423781\n               }\n            }\n         },\n         \"types\" : [ \"postal_code\" ]\n      }\n   ],\n   \"status\" : \"OK\"\n}\n"},"http_version":null},"recorded_at":"Sat, 26 Oct 2013 15:10:36 GMT"},[...]
{"request":{"method":"get","uri":"http://maps.googleapis.com/maps/api/geocode/json?latlng=40.756054,-73.986951&sensor=false","body":{"encoding":"UTF-8","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=UTF-8"], "Alternate-Protocol":["80:quic"]},"body":{"encoding":"UTF-8","string":"{\n   \"results\" : [\n      {\n         \"address_components\" : [\n            {\n               \"long_name\" : \"601-699\",\n         [...]
{"request":{"method":"get","uri":"http://maps.googleapis.com/maps/api/geocode/json?address=T5B%204M9&region=CA&sensor=false","body":{"encoding":"UTF-8","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=UTF-8"], "Alternate-Protocol":["80:quic"]},"body":{"encoding":"UTF-8","string":"{\n   \"results\" : [\n      {\n         \"address_components\" : [\n            {\n               \"long_name\" : \"T5B 4M9\",\n         [...]
{"request":{"method":"get","uri":"http://maps.googleapis.com/maps/api/geocode/json?address=Paris,%20France&sensor=false","body":{"encoding":"UTF-8","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=UTF-8"], "Alternate-Protocol":["80:quic"]},"body":{"encoding":"UTF-8","string":"{\n   \"results\" : [\n      {\n         \"address_components\" : [\n            {\n               \"long_name\" : \"Paris\",\n               [...]
{"request":{"method":"get","uri":"http://maps.googleapis.com/maps/api/geocode/json?address=KSFO&region=US&sensor=false","body":{"encoding":"UTF-8","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=UTF-8"], "Alternate-Protocol":["80:quic"]},"body":{"encoding":"UTF-8","string":"{\n   \"results\" : [\n      {\n         \"address_components\" : [\n            {\n               \"long_name\" : \"San Francisco Internationa[...]
