{"http_interactions":[{"request":{"method":"get","uri":"http://query.yahooapis.com/v1/public/yql?diagnostics=false&format=json&q=select%20*%20from%20geo.places%20where%20woeid=%27(615702)%27%20limit%201","body":{"encoding":"UTF-8","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json;charset=utf-8"]},"body":{"encoding":"UTF-8","string":"{\"query\":{\"count\":1,\"created\":\"2018-05-14T01:35:49Z\",\"lang\":\"en-US\",\"results\":{\"place\":{\"lang\":\"en-US\",\"xmlns\":\"http://where.yahooapis.com/v1/schema.rng\",\"yahoo\":\"http://www.yahooapis.com/v1/base.rng\",\"uri\":\"http://where.yahooapis.com/v1/place/615702\",\"woeid\":\"615702\",\"placeTypeName\":{\"code\":\"7\",\"content\":\"Town\"},\"name\":\"Paris\",\"country\":{\"code\":\"FR\",\"type\":\"Country\",\"woeid\":\"23424819\",\"content\":\"France\"},\"admin1\":{\"code\":\"\",\"type\":\"Region\",\"woeid\":\"7153319\",\"content\":\"Ile-de-France\"},\"admin2\":{\"code\":\"\",\"type\":\"Department\",\"woeid\":\"12597155\",\"content\":\"Paris\"},\"admin3\":null,\"locality1\":{\"type\":\"Town\",\"woeid\":\"615702\",\"content\":\"Paris\"},\"locality2\":null,\"postal\":null,\"centroid\":{\"latitude\":\"48.85693\",\"longitude\":\"2.3412\"},\"boundingBox\":{\"southWest\":{\"latitude\":\"48.658291\",\"longitude\":\"2.08679\"},\"northEast\":{\"latitude\":\"49.04694\",\"longitude\":\"2.63791\"}},\"areaRank\":\"1\",\"popRank\":\"1\",\"timezone\":{\"type\":\"Time Zone\",\"woeid\":\"28350911\",\"content\":\"Europe/Paris\"}}}}}"},"http_version":null},"recorded_at":"Mon, 14 May 2018 01:35:49 GMT"}],"recorded_with":"VCR 4.0.0"}