{"http_interactions":[{"request":{"method":"get","uri":"https://api.weather.gov/points/34.10,-118.41/stations","body":{"encoding":"UTF-8","string":""},"headers":{}},"response":{"status":{"code":301,"message":"Moved Permanently"},"headers":{"Content-Type":["application/problem+json"], "Location":["/points/34.1,-118.41/stations"], "X-Server-Id":["vm-lnx-nids-apiapp21.ncep.noaa.gov"], "X-Correlation-Id":["c45ce0f2-d2c5-4102-b69d-1705ddd72fee"]},"body":{"encoding":"UTF-8","string":"{\n    \"correlationId\": \"c45ce0f2-d2c5-4102-b69d-1705ddd72fee\",\n    \"title\": \"Adjusting Precision Of Point Coordinate\",\n    \"type\": \"https://api.weather.gov/problems/AdjustPointPrecision\",\n    \"status\": 301,\n    \"detail\": \"The precision of latitude/longitude points is limited to 4 decimal digits for efficiency. The location attribute contains your request mapped to the nearest supported point. If your client supports it, you will be redirected.\",\n    \"instance\": \"https://api.weather.gov/requests/c45ce0f2-d2c5-4102-b69d-1705ddd72fee\"\n}"},"http_version":null},"recorded_at":"Thu, 17 May 2018 00:46:55 GMT"},[...]
{"request":{"method":"get","uri":"https://api.weather.gov/gridpoints/LOX/148,47/stations","body":{"encoding":"UTF-8","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/geo+json"], "X-Server-Id":["vm-lnx-nids-apiapp1.ncep.noaa.gov"], "X-Correlation-Id":["adbd037d-1161-47bf-8efc-44b8f6750d7f"]},"body":{"encoding":"UTF-8","string":"{\n    \"@context\": [\n        \"https://raw.githubusercontent.com/geojson/geojson-ld/master/contexts/geojson-base.jsonld\",\n        {\n            \"wx\": \"https://api.weather.gov/ontology#\",\n            \"s\": \"https://schema.org/\",\n            \"geo\": \"http://www.opengis.net/ont/geosparql#\",\n            \"unit\": \"http://codes.wmo.int/common/unit/\",\n            \"@vocab\": \"https://api.weather.gov/ontology#\",\n            \"geometry\": {\n                \"@id\": \"s:GeoCoordinates\",\n                \"@type\": \"geo:wktLiteral\"\n            },\n            \"city\": \"s:addressLocality\",\n            \"state\": \"s:addressRegion\",\n            \"distance\": {\n                \"@id\": \"s:Distance\",\n                \"@type\": \"s:QuantitativeValue\"\n            },\n            \"bearing\": {\n                \"@type\": \"s:QuantitativeValue\"\n            },\n            \"value\": {\n                \"@id\": \"s:value\"\n            },\n            \"unitCode\": {\n                \"@id\": \"s:unitCode\",\n                \"@type\": \"@id\"\n            },\n            \"forecastOffice\": {\n                \"@type\": \"@id\"\n            },\n            \"forecastGridData\": {\n                \"@type\": \"@id\"\n            },\n            \"publicZone\": {\n                \"@type\": \"@id\"\n            },\n            \"county\": {\n                \"@type\": \"@id\"\n            },\n            \"observationStations\": {\n                \"@container\": \"@list\",\n                \"@type\": \"@id\"\n            }\n        }\n    ],\n    \"type\": \"FeatureCollection\",\n    \"features\": [\n        {\n            \"id\": \"https://api.weather.gov/stations/KSMO\",\n            \"type\": \"Feature\",\n            \"geometry\": {\n                \"type\": \"Point\",\n                \"coordinates\": [\n                    -118.45139,\n                    34.01583\n                ]\n            },\n            \"properties\": {\n                \"@id\": \"https://api.weather.gov/stations/KSMO\",\n                \"@type\": \"wx:ObservationStation\",\n                \"elevation\": {\n                    \"value\": 53.0352,\n                    \"unitCode\": \"unit:m\"\n                },\n                \"stationIdentifier\": \"KSMO\",\n                \"name\": \"Santa Monica, Santa Monica Municipal Airport\",\n                \"timeZone\": \"America/Los_Angeles\"\n            }\n        },\n        {\n            \"id\": \"https://api.weather.gov/stations/KBUR\",\n            \"type\": \"Feature\",\n            \"geometry\": {\n                \"type\": \"Point\",\n                \"coordinates\": [\n                    -118.36538,\n                    34.19967\n                ]\n            },\n            \"properties\": {\n                \"@id\": \"https://api.weather.gov/stations/KBUR\",\n                \"@type\": \"wx:Obs[...]
