{"http_interactions":[{"request":{"method":"get","uri":"http://query.yahooapis.com/v1/public/yql?diagnostics=false&format=json&q=select%20*%20from%20geo.places%20where%20text=%27(New%20York,%20NY)%27%20limit%201","body":{"encoding":"UTF-8","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json;charset=utf-8"]},"body":{"encoding":"UTF-8","string":"{\"query\":{\"count\":1,\"created\":\"2018-05-17T01:41:11Z\",\"lang\":\"en-US\",\"results\":{\"place\":{\"lang\":\"en-US\",\"xmlns\":\"http://where.yahooapis.com/v1/schema.rng\",\"yahoo\":\"http://www.yahooapis.com/v1/base.rng\",\"uri\":\"http://where.yahooapis.com/v1/place/2459115\",\"woeid\":\"2459115\",\"placeTypeName\":{\"code\":\"7\",\"content\":\"Town\"},\"name\":\"New York\",\"country\":{\"code\":\"US\",\"type\":\"Country\",\"woeid\":\"23424977\",\"content\":\"United States\"},\"admin1\":{\"code\":\"US-NY\",\"type\":\"State\",\"woeid\":\"2347591\",\"content\":\"New York\"},\"admin2\":null,\"admin3\":null,\"locality1\":{\"type\":\"Town\",\"woeid\":\"2459115\",\"content\":\"New York\"},\"locality2\":null,\"postal\":null,\"centroid\":{\"latitude\":\"40.71455\",\"longitude\":\"-74.007118\"},\"boundingBox\":{\"southWest\":{\"latitude\":\"40.477421\",\"longitude\":\"-74.258904\"},\"northEast\":{\"latitude\":\"40.917622\",\"longitude\":\"-73.700378\"}},\"areaRank\":\"1\",\"popRank\":\"1\",\"timezone\":{\"type\":\"Time Zone\",\"woeid\":\"56043648\",\"content\":\"America/New_York\"}}}}}"},"http_version":null},"recorded_at":"Thu, 17 May 2018 01:41:11 GMT"},{"request":{"method":"get","uri":"http://query.yahooapis.com/v1/public/yql?diagnostics=false&format=json&q=select%20*%20from%20geo.places%20where%20text=%27(90210)%27%20limit%201","body":{"encoding":"UTF-8","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json;charset=utf-8"]},"body":{"encoding":"UTF-8","string":"{\"query\":{\"count\":1,\"created\":\"2018-05-17T01:41:11Z\",\"lang\":\"en-US\",\"results\":{\"place\":{\"lang\":\"en-[...]
{"request":{"method":"get","uri":"http://query.yahooapis.com/v1/public/yql?diagnostics=false&format=json&q=select%20*%20from%20geo.places%20where%20text=%27(40.756054,-73.986951)%27%20limit%201","body":{"encoding":"UTF-8","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json;charset=utf-8"]},"body":{"encoding":"UTF-8","string":"{\"query\":{\"count\":1,\"created\":\"2018-05-17T01:41:11Z\",\"lang\":\"en-US\",\"results\":{\"place\":[...]
{"request":{"method":"get","uri":"http://query.yahooapis.com/v1/public/yql?diagnostics=false&format=json&q=select%20*%20from%20geo.places%20where%20text=%27(Paris,%20France)%27%20limit%201","body":{"encoding":"UTF-8","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json;charset=utf-8"]},"body":{"encoding":"UTF-8","string":"{\"query\":{\"count\":1,\"created\":\"2018-05-17T01:41:11Z\",\"lang\":\"en-US\",\"results\":{\"place\":{\"la[...]
{"request":{"method":"get","uri":"http://query.yahooapis.com/v1/public/yql?diagnostics=false&format=json&q=select%20*%20from%20geo.places%20where%20text=%27(T5B%204M9)%27%20limit%201","body":{"encoding":"UTF-8","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json;charset=utf-8"]},"body":{"encoding":"UTF-8","string":"{\"query\":{\"count\":1,\"created\":\"2018-05-17T01:41:11Z\",\"lang\":\"en-US\",\"results\":{\"place\":{\"lang\":\[...]
