{"http_interactions":[{"request":{"method":"get","uri":"http://weather.yahooapis.com/forecastrss?p=USGA0028","body":{"encoding":"UTF-8","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["text/xml;charset=UTF-8"]},"body":{"encoding":"UTF-8","string":"<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\" ?>\n\t\t<rss version=\"2.0\" xmlns:yweather=\"http://xml.weather.yahoo.com/ns/rss/1.0\" xmlns:geo=\"http://www.w3.org/2003/01/geo/wgs84_pos#\">\n\t\t\t<channel>\n\t\t\n<title>Yahoo! Weather - Atlanta, GA</title>\n<link>http://us.rd.yahoo.com/dailynews/rss/weather/Atlanta__GA/*http://weather.yahoo.com/forecast/USGA0028_f.html</link>\n<description>Yahoo! Weather for Atlanta, GA</description>\n<language>en-us</language>\n<lastBuildDate>Sun, 27 Oct 2013 11:52 pm EDT</lastBuildDate>\n<ttl>60</ttl>\n<yweather:location city=\"Atlanta\" region=\"GA\"   country=\"US\"/>\n<yweather:units temperature=\"F\" distance=\"mi\" pressure=\"in\" speed=\"mph\"/>\n<yweather:wind chill=\"57\"   direction=\"0\"   speed=\"0\" />\n<yweather:atmosphere humidity=\"93\"  visibility=\"10\"  pressure=\"30.17\"  rising=\"0\" />\n<yweather:astronomy sunrise=\"7:50 am\"   sunset=\"6:49 pm\"/>\n<image>\n<title>Yahoo! Weather</title>\n<width>142</width>\n<height>18</height>\n<link>http://weather.yahoo.com</link>\n<url>http://l.yimg.com/a/i/brand/purplelogo//uh/us/news-wea.gif</url>\n</image>\n<item>\n<title>Conditions for Atlanta, GA at 11:52 pm EDT</title>\n<geo:lat>33.75</geo:lat>\n<geo:long>-84.39</geo:long>\n<link>http://us.rd.yahoo.com/dailynews/rss/weather/Atlanta__GA/*http://weather.yahoo.com/forecast/USGA0028_f.html</link>\n<pubDate>Sun, 27 Oct 2013 11:52 pm EDT</pubDate>\n<yweather:condition  text=\"Cloudy\"  code=\"26\"  temp=\"57\"  date=\"Sun, 27 Oct 2013 11:52 pm EDT\" />\n<description><![CDATA[\n<img src=\"http://l.yimg.com/a/i/us/we/52/26.gif\"/><br />\n<b>Current Conditions:</b><br />\nCloudy, 57 F<BR />\n<BR /><b>Forecast:</b><BR />\nSun - Showers. High: 70 Low: 52<br />\nMon - AM Clouds/PM Sun. High: 70 Low: 52<br />\nTue - Partly Cloudy. High: 76 Low: 51<br />\nWed - Partly Cloudy. High: 76 Low: 56<br />\nThu - Cloudy. High: 73 Low: 61<br />\n<br />\n<a href=\"http://us.rd.yahoo.com/dailynews/rss/weather/Atlanta__GA/*http://weather.yahoo.com/forecast/USGA0028_f.html\">Full Forecast at Yahoo! Weather</a><BR/><BR/>\n(provided by <a href=\"http://www.weather.com\" >The Weather Channel</a>)<br/>\n]]></description>\n<yweather:forecast day=\"Sun\" date=\"27 Oct 2013\" low=\"52\" high=\"70\" text=\"Showers\" code=\"11\" />\n<yweather:forecast day=\"Mon\" date=\"28 Oct 2013\" low=\"52\" high=\"70\" text=\"AM Clouds/PM Sun\" code=\"30\" />\n<yweather:forecast day=\"Tue\" date=\"29 Oct 2013\" low=\"51\" high=\"76\" text=\"Partly Cloudy\" code=\"30\" />\n<yweather:forecast day=\"Wed\" date=\"30 Oct 2013\" low=\"56\" high=\"76\" text=\"Partly Cloudy\" code=\"30\" />\n<yweather:forecast day=\"Thu\" date=\"31 Oct 2013\" low=\"61\" high=\"73\" text=\"Cloudy\" code=\"26\" />\n<guid isPermaLink=\"false\">USGA0028_2013_10_31_7_00_EDT</guid>\n</item>\n</channel>\n</rss>\n\n<!-- fan1661.sports.bf1.yahoo.com Mon Oct 28 04:12:40 PST 2013 -->\n"},"http_version":null},"recorded_at":"Mon, 28 Oct 2013 04:12:40 GMT"}],"recorded_with":"VCR 2.6.0"}