{"http_interactions":[{"request":{"method":"get","uri":"http://weather.yahooapis.com/forecastrss?w=615702","body":{"encoding":"UTF-8","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["text/xml;charset=UTF-8"]},"body":{"encoding":"UTF-8","string":"<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\" ?>\n\t\t<rss version=\"2.0\" xmlns:yweather=\"http://xml.weather.yahoo.com/ns/rss/1.0\" xmlns:geo=\"http://www.w3.org/2003/01/geo/wgs84_pos#\">\n\t\t\t<channel>\n\t\t\n<title>Yahoo! Weather - Paris, FR</title>\n<link>http://us.rd.yahoo.com/dailynews/rss/weather/Paris__FR/*http://weather.yahoo.com/forecast/FRIF1165_f.html</link>\n<description>Yahoo! Weather for Paris, FR</description>\n<language>en-us</language>\n<lastBuildDate>Sat, 26 Oct 2013 4:28 pm CEST</lastBuildDate>\n<ttl>60</ttl>\n<yweather:location city=\"Paris\" region=\"\"   country=\"France\"/>\n<yweather:units temperature=\"F\" distance=\"mi\" pressure=\"in\" speed=\"mph\"/>\n<yweather:wind chill=\"64\"   direction=\"200\"   speed=\"13\" />\n<yweather:atmosphere humidity=\"83\"  visibility=\"6.21\"  pressure=\"29.88\"  rising=\"0\" />\n<yweather:astronomy sunrise=\"8:26 am\"   sunset=\"6:41 pm\"/>\n<image>\n<title>Yahoo! Weather</title>\n<width>142</width>\n<height>18</height>\n<link>http://weather.yahoo.com</link>\n<url>http://l.yimg.com/a/i/brand/purplelogo//uh/us/news-wea.gif</url>\n</image>\n<item>\n<title>Conditions for Paris, FR at 4:28 pm CEST</title>\n<geo:lat>48.86</geo:lat>\n<geo:long>2.34</geo:long>\n<link>http://us.rd.yahoo.com/dailynews/rss/weather/Paris__FR/*http://weather.yahoo.com/forecast/FRIF1165_f.html</link>\n<pubDate>Sat, 26 Oct 2013 4:28 pm CEST</pubDate>\n<yweather:condition  text=\"Rain\"  code=\"12\"  temp=\"64\"  date=\"Sat, 26 Oct 2013 4:28 pm CEST\" />\n<description><![CDATA[\n<img src=\"http://l.yimg.com/a/i/us/we/52/12.gif\"/><br />\n<b>Current Conditions:</b><br />\nRain, 64 F<BR />\n<BR /><b>Forecast:</b><BR />\nSat - Mostly Clear. High: 64 Low: 57<br />\nSun - Showers/Wind. High: 61 Low: 58<br />\nMon - AM Light Rain/Wind. High: 61 Low: 48<br />\nTue - Partly Cloudy. High: 55 Low: 42<br />\nWed - Sunny. High: 56 Low: 44<br />\n<br />\n<a href=\"http://us.rd.yahoo.com/dailynews/rss/weather/Paris__FR/*http://weather.yahoo.com/forecast/FRIF1165_f.html\">Full Forecast at Yahoo! Weather</a><BR/><BR/>\n(provided by <a href=\"http://www.weather.com\" >The Weather Channel</a>)<br/>\n]]></description>\n<yweather:forecast day=\"Sat\" date=\"26 Oct 2013\" low=\"57\" high=\"64\" text=\"Mostly Clear\" code=\"33\" />\n<yweather:forecast day=\"Sun\" date=\"27 Oct 2013\" low=\"58\" high=\"61\" text=\"Showers/Wind\" code=\"11\" />\n<yweather:forecast day=\"Mon\" date=\"28 Oct 2013\" low=\"48\" high=\"61\" text=\"AM Light Rain/Wind\" code=\"11\" />\n<yweather:forecast day=\"Tue\" date=\"29 Oct 2013\" low=\"42\" high=\"55\" text=\"Partly Cloudy\" code=\"30\" />\n<yweather:forecast day=\"Wed\" date=\"30 Oct 2013\" low=\"44\" high=\"56\" text=\"Sunny\" code=\"32\" />\n<guid isPermaLink=\"false\">FRIF1165_2013_10_30_7_00_CEST</guid>\n</item>\n</channel>\n</rss>\n\n<!-- fan1599.sports.bf1.yahoo.com Sat Oct 26 15:08:57 PST 2013 -->\n"},"http_version":null},"recorded_at":"Sat, 26 Oct 2013 15:10:17 GMT"},{"request":{"method":"get","uri":"http://weather.yahooapis.com/forecastrss?p=USGA0028","body":{"encoding":"UTF-8","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["text/xml;charset=UTF-8"]},"body":{"encoding":"UTF-8","string":"<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\" ?>\n\t\t<rss version=\"2.0\" xmlns:yweather=\"http://xml.weather.yahoo.com/ns/rss/1.0\" xmlns:geo=\"http://www.w3.org/2003/01/geo/wgs84_pos#\">\n\t\t\t<channel[...]
