{"http_interactions":[{"request":{"method":"get","uri":"http://weather.yahooapis.com/forecastrss?w=615702","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["text/xml;charset=UTF-8"]},"body":{"encoding":"US-ASCII","string":"<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\" ?>\n\t\t<rss version=\"2.0\" xmlns:yweather=\"http://xml.weather.yahoo.com/ns/rss/1.0\" xmlns:geo=\"http://www.w3.org/2003/01/geo/wgs84_pos#\">\n\t\t\t<channel>\n\t\t\n<title>Yahoo! Weather - Paris, FR</title>\n<link>http://us.rd.yahoo.com/dailynews/rss/weather/Paris__FR/*http://weather.yahoo.com/forecast/FRXX0076_f.html</link>\n<description>Yahoo! Weather for Paris, FR</description>\n<language>en-us</language>\n<lastBuildDate>Sat, 20 Apr 2013 10:59 pm CEST</lastBuildDate>\n<ttl>60</ttl>\n<yweather:location city=\"Paris\" region=\"\"   country=\"France\"/>\n<yweather:units temperature=\"F\" distance=\"mi\" pressure=\"in\" speed=\"mph\"/>\n<yweather:wind chill=\"45\"   direction=\"10\"   speed=\"8\" />\n<yweather:atmosphere humidity=\"50\"  visibility=\"6.21\"  pressure=\"30.27\"  rising=\"0\" />\n<yweather:astronomy sunrise=\"6:48 am\"   sunset=\"8:46 pm\"/>\n<image>\n<title>Yahoo! Weather</title>\n<width>142</width>\n<height>18</height>\n<link>http://weather.yahoo.com</link>\n<url>http://l.yimg.com/a/i/brand/purplelogo//uh/us/news-wea.gif</url>\n</image>\n<item>\n<title>Conditions for Paris, FR at 10:59 pm CEST</title>\n<geo:lat>48.86</geo:lat>\n<geo:long>2.34</geo:long>\n<link>http://us.rd.yahoo.com/dailynews/rss/weather/Paris__FR/*http://weather.yahoo.com/forecast/FRXX0076_f.html</link>\n<pubDate>Sat, 20 Apr 2013 10:59 pm CEST</pubDate>\n<yweather:condition  text=\"Fair\"  code=\"33\"  temp=\"48\"  date=\"Sat, 20 Apr 2013 10:59 pm CEST\" />\n<description><![CDATA[\n<img src=\"http://l.yimg.com/a/i/us/we/52/33.gif\"/><br />\n<b>Current Conditions:</b><br />\nFair, 48 F<BR />\n<BR /><b>Forecast:</b><BR />\nSat - Mostly Clear. High: 53 Low: 39<br />\nSun - Sunny. High: 61 Low: 39<br />\n<br />\n<a href=\"http://us.rd.yahoo.com/dailynews/rss/weather/Paris__FR/*http://weather.yahoo.com/forecast/FRXX0076_f.html\">Full Forecast at Yahoo! Weather</a><BR/><BR/>\n(provided by <a href=\"http://www.weather.com\" >The Weather Channel</a>)<br/>\n]]></description>\n<yweather:forecast day=\"Sat\" date=\"20 Apr 2013\" low=\"39\" high=\"53\" text=\"Mostly Clear\" code=\"33\" />\n<yweather:forecast day=\"Sun\" date=\"21 Apr 2013\" low=\"39\" high=\"61\" text=\"Sunny\" code=\"32\" />\n<guid isPermaLink=\"false\">FRXX0076_2013_04_21_7_00_CEST</guid>\n</item>\n</channel>\n</rss>\n\n<!-- api10.weather.bf1.yahoo.com Sat Apr 20 21:45:53 PST 2013 -->\n"},"http_version":null},"recorded_at":"Sat, 20 Apr 2013 21:45:53 GMT"},{"request":{"method":"get","uri":"http://weather.yahooapis.com/forecastrss?p=USGA0028","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["text/xml;charset=UTF-8"]},"body":{"encoding":"US-ASCII","string":"<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\" ?>\n\t\t<rss version=\"2.0\" xmlns:yweather=\"http://xml.weather.yahoo.com/ns/rss/1.0\" xmlns:geo=\"http://www.w3.org/2003/01/geo/wgs84_pos#\">\n\t\t\t<c[...]
