{"http_interactions":[{"request":{"method":"get","uri":"http://xoap.weather.com/search/search?where=New%20York,%20NY","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Svrname":["data3x29"], "Content-Type":["application/xml;charset=UTF-8"]},"body":{"encoding":"US-ASCII","string":"<?xml version=\"1.0\" encoding=\"UTF-8\"?>\r\n<!-- This document is intended only for use by authorized licensees of The  -->\r\n<!-- Weather Channel. Unauthorized use is prohibited.  Copyright 1995-2013, -->\r\n<!-- The Weather Channel Interactive, Inc.  All Rights Reserved.            -->\r\n<search ver=\"3.0\">\r\n  <loc id=\"USNY0996\" type=\"1\">New York, NY</loc>\r\n  <loc id=\"USNY0011\" type=\"1\">Albany, NY</loc>\r\n  <loc id=\"USNY0181\" type=\"1\">Buffalo, NY</loc>\r\n  <loc id=\"USNY1232\" type=\"1\">Rochester, NY</loc>\r\n  <loc id=\"USNY1434\" type=\"1\">Syracuse, NY</loc>\r\n  <loc id=\"USNY1010\" type=\"1\">Niagara Falls, NY</loc>\r\n  <loc id=\"USNY1630\" type=\"1\">York, NY</loc>\r\n  <loc id=\"USNY0997\" type=\"1\">New York Mills, NY</loc>\r\n  <loc id=\"USNY0998\" type=\"1\">New York/Central Park, NY</loc>\r\n  <loc id=\"USNY0999\" type=\"1\">New York/JFK Intl Arpt, NY</loc>\r\n</search>\r\n\r\n"},"http_version":null},"recorded_at":"Sun, 07 Apr 2013 16:29:42 GMT"},{"request":{"method":"get","uri":"http://xoap.weather.com/search/search?where=Paris,%20France","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Svrname":["data2x22"], "Content-Type":["application/xml;charset=UTF-8"]},"body":{"encoding":"US-ASCII","string":"<?xml version=\"1.0\" encoding=\"UTF-8\"?>\r\n<!-- This document is intended only for use by authorized licensees of The  -->\r\n<!-- Weather Channel. Unauthorized use is prohibited.  Copyright 1995-2013, -->\r\n<!-- The Weather Channel Interactive, Inc.  All Rights Reserved.            -->\r\n<search ver=\"3.0\">\r\n  <loc id=\"FRXX0076\" type=\"1\">Paris, France</loc>\r\n  <loc id=\"FRBO0939\" type=\"1\">Paris-l'Hopital, France</loc>\r\n  <loc id=\"FRBR2141\" type=\"1\">Petit Paris, France</loc>\r\n  <loc id=\"FRRA3239\" type=\"1\">Les Paris, France</loc>\r\n  <loc id=\"FRIF1055\" type=\"1\">Le Petit-Paris, France</loc>\r\n  <loc id=\"FRIF1165\" type=\"1\">Paris 01 Louvre, France</loc>\r\n  <loc id=\"FRIF1166\" type=\"1\">Paris 02 Bourse, France</loc>\r\n  <loc id=\"FRIF1167\" type=\"1\">Paris 03 Temple, France</loc>\r\n  <loc id=\"FRIF1169\" type=\"1\">Paris 05 Pantheon, France</loc>\r\n  <loc id=\"FRIF1170\" type=\"1\">Paris 06 Luxembourg, France</loc>\r\n</search>\r\n\r\n"},"http_version":null},"recorded_at":"Sun, 05 May 2013 21:31:34 GMT"},{"request":{"method":"get","uri":"http://wxdata.weather.com/wxdata/search/search?where=Paris,%20France","body":{"encoding":"UTF-8","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["text/xml;charset=UTF-8"]},"body":{"encoding":"UTF-8","string":"<search ver=\"3.0\">\n          <loc id=\"FRXX0076\" type=\"1\">Paris, 75, France</loc><loc id=\"FRDO0206\" type=\"1\">Parisot, 24, France</loc><loc id=\"FRLG0038\" type=\"1\">Parisot, 47, France</loc><loc id=\"FRMP1691\" type=\"1\">Parisot, 81, France</loc><loc id=\"FRMP1692\" type=\"1\">Parisot, 82, France</loc><loc id=\"FRXX2071\" type=\"1\">Paris 09, 75, France</loc><loc id=\"FRXX6513\" type=\"1\">Paris 07, 75, France</loc><loc id=\"FRBR2141\" type=\"1\">Petit Paris, 29, France</loc><loc id=\"FRRA3239\" type=\"1\">Les Paris, 73, France</loc><loc id=\"FRFN0175\" type=\"1\">Le Petit Paris, 29, France</loc>\n        </search>"},"http_version":null},"recorded_at":"Sat, 26 Oct 2013 15:05:02 GMT"},{"request":{"method":"get","uri":"http://wxdata.weather.com/wxdata/search/search?where=New%20York,%20NY","body":{"encoding":"UTF-8","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["text/xml;charset=UTF-8"]},"body":{"encoding":"UTF-8","string":"<search ver=\"3.0\">\n          <loc id=\"USNY0996\" type=\"1\">New York, NY</loc>\n        </search>"},"http_version":null},"recorded_at":"Sat, 26 Oct 2013 15:05:02 GMT"}],"recorded_with":"VCR 2.6.0"}