{"http_interactions":[{"request":{"method":"get","uri":"http://weather.yahooapis.com/forecastrss?w=615702","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["text/xml;charset=UTF-8"]},"body":{"encoding":"US-ASCII","string":"<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\" ?>\n\t\t<rss version=\"2.0\" xmlns:yweather=\"http://xml.weather.yahoo.com/ns/rss/1.0\" xmlns:geo=\"http://www.w3.org/2003/01/geo/wgs84_pos#\">\n\t\t\t<channel>\n\t\t\n<title>Yahoo! Weather - Paris, FR</title>\n<link>http://us.rd.yahoo.com/dailynews/rss/weather/Paris__FR/*http://weather.yahoo.com/forecast/FRXX0076_f.html</link>\n<description>Yahoo! Weather for Paris, FR</description>\n<language>en-us</language>\n<lastBuildDate>Sun, 07 Apr 2013 3:29 pm CEST</lastBuildDate>\n<ttl>60</ttl>\n<yweather:location city=\"Paris\" region=\"\"   country=\"France\"/>\n<yweather:units temperature=\"F\" distance=\"mi\" pressure=\"in\" speed=\"mph\"/>\n<yweather:wind chill=\"47\"   direction=\"90\"   speed=\"8\" />\n<yweather:atmosphere humidity=\"43\"  visibility=\"6.21\"  pressure=\"30.03\"  rising=\"0\" />\n<yweather:astronomy sunrise=\"7:16 am\"   sunset=\"8:27 pm\"/>\n<image>\n<title>Yahoo! Weather</title>\n<width>142</width>\n<height>18</height>\n<link>http://weather.yahoo.com</link>\n<url>http://l.yimg.com/a/i/brand/purplelogo//uh/us/news-wea.gif</url>\n</image>\n<item>\n<title>Conditions for Paris, FR at 3:29 pm CEST</title>\n<geo:lat>48.86</geo:lat>\n<geo:long>2.34</geo:long>\n<link>http://us.rd.yahoo.com/dailynews/rss/weather/Paris__FR/*http://weather.yahoo.com/forecast/FRXX0076_f.html</link>\n<pubDate>Sun, 07 Apr 2013 3:29 pm CEST</pubDate>\n<yweather:condition  text=\"Partly Cloudy\"  code=\"30\"  temp=\"50\"  date=\"Sun, 07 Apr 2013 3:29 pm CEST\" />\n<description><![CDATA[\n<img src=\"http://l.yimg.com/a/i/us/we/52/30.gif\"/><br />\n<b>Current Conditions:</b><br />\nPartly Cloudy, 50 F<BR />\n<BR /><b>Forecast:</b><BR />\nSun - Partly Cloudy. High: 50 Low: 41<br />\nMon - Light Rain. High: 50 Low: 44<br />\n<br />\n<a href=\"http://us.rd.yahoo.com/dailynews/rss/weather/Paris__FR/*http://weather.yahoo.com/forecast/FRXX0076_f.html\">Full Forecast at Yahoo! Weather</a><BR/><BR/>\n(provided by <a href=\"http://www.weather.com\" >The Weather Channel</a>)<br/>\n]]></description>\n<yweather:forecast day=\"Sun\" date=\"7 Apr 2013\" low=\"41\" high=\"50\" text=\"Partly Cloudy\" code=\"29\" />\n<yweather:forecast day=\"Mon\" date=\"8 Apr 2013\" low=\"44\" high=\"50\" text=\"Light Rain\" code=\"11\" />\n<guid isPermaLink=\"false\">FRXX0076_2013_04_08_7_00_CEST</guid>\n</item>\n</channel>\n</rss>\n\n<!-- api10.weather.bf1.yahoo.com Sun Apr  7 14:40:05 PST 2013 -->\n"},"http_version":null},"recorded_at":"Sun, 07 Apr 2013 14:40:51 GMT"}],"recorded_with":"VCR 2.4.0"}