{"http_interactions":[{"request":{"method":"get","uri":"https://maps.googleapis.com/maps/api/geocode/json?address=90210&key=GOOGLE_APIKEY&region=US&sensor=false","body":{"encoding":"UTF-8","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=UTF-8"]},"body":{"encoding":"UTF-8","string":"{\n   \"results\" : [\n      {\n         \"address_components\" : [\n            {\n               \"long_name\" : \"90210\",\n               \"short_name\" : \"90210\",\n               \"types\" : [ \"postal_code\" ]\n            },\n            {\n               \"long_name\" : \"Beverly Hills\",\n               \"short_name\" : \"Beverly Hills\",\n               \"types\" : [ \"locality\", \"political\" ]\n            },\n            {\n               \"long_name\" : \"Los Angeles County\",\n               \"short_name\" : \"Los Angeles County\",\n               \"types\" : [ \"administrative_area_level_2\", \"political\" ]\n            },\n            {\n               \"long_name\" : \"California\",\n               \"short_name\" : \"CA\",\n               \"types\" : [ \"administrative_area_level_1\", \"political\" ]\n            },\n            {\n               \"long_name\" : \"United States\",\n               \"short_name\" : \"US\",\n               \"types\" : [ \"country\", \"political\" ]\n            }\n         ],\n         \"formatted_address\" : \"Beverly Hills, CA 90210, USA\",\n         \"geometry\" : {\n            \"bounds\" : {\n               \"northeast\" : {\n                  \"lat\" : 34.1354771,\n                  \"lng\" : -118.3867129\n               },\n               \"southwest\" : {\n                  \"lat\" : 34.065094,\n                  \"lng\" : -118.4423781\n               }\n            },\n            \"location\" : {\n               \"lat\" : 34.1030032,\n               \"lng\" : -118.4104684\n            },\n            \"location_type\" : \"APPROXIMATE\",\n            \"viewport\" : {\n               \"northeast\" : {\n                  \"lat\" : 34.1354771,\n                  \"lng\" : -118.3867129\n               },\n               \"southwest\" : {\n                  \"lat\" : 34.065094,\n                  \"lng\" : -118.4423781\n               }\n            }\n         },\n         \"place_id\" : \"ChIJ7xfS-zW8woARXNkAJzX5Hs8\",\n         \"types\" : [ \"postal_code\" ]\n      }\n   ],\n   \"status\" : \"OK\"\n}\n"},"http_version":null},"recorded_at":"Mon, 14 May 2018 17:13:32 GMT"},{"request":{"method":"get","uri":"https://maps.googleapis.com/maps/api/geocode/json?address=Paris,%20France&key=GOOGLE_APIKEY&sensor=false","body":{"encoding":"UTF-8","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=UTF-8"]},"body":{"encoding":"UTF-8","string":"{\n   \"results\" : [\n      {\n         \"address_components\" : [\n            {\n               \"long_name\" : \"Paris\",\n               \"short_name\" [...]
{"request":{"method":"get","uri":"https://maps.googleapis.com/maps/api/geocode/json?key=GOOGLE_APIKEY&latlng=40.756054,-73.986951&sensor=false","body":{"encoding":"UTF-8","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=UTF-8"]},"body":{"encoding":"UTF-8","string":"{\n   \"results\" : [\n      {\n         \"address_components\" : [\n            {\n               \"long_name\" : \"201\",\n               \"short_name\[...]
[...]
{"request":{"method":"get","uri":"https://maps.googleapis.com/maps/api/geocode/json?address=T5B%204M9&key=GOOGLE_APIKEY&region=CA&sensor=false","body":{"encoding":"UTF-8","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=UTF-8"]},"body":{"encoding":"UTF-8","string":"{\n   \"results\" : [\n      {\n         \"address_components\" : [\n            {\n               \"long_name\" : \"T5B 4M9\",\n               \"short_n[...]
{"request":{"method":"get","uri":"https://maps.googleapis.com/maps/api/geocode/json?address=KSFO&key=GOOGLE_APIKEY&region=US&sensor=false","body":{"encoding":"UTF-8","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=UTF-8"]},"body":{"encoding":"UTF-8","string":"{\n   \"results\" : [\n      {\n         \"address_components\" : [\n            {\n               \"long_name\" : \"750\",\n               \"short_name\" : \[...]
