{"http_interactions":[{"request":{"method":"get","uri":"http://weather.yahooapis.com/forecastrss?p=USGA0028","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["text/xml;charset=UTF-8"]},"body":{"encoding":"US-ASCII","string":"<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\" ?>\n\t\t<rss version=\"2.0\" xmlns:yweather=\"http://xml.weather.yahoo.com/ns/rss/1.0\" xmlns:geo=\"http://www.w3.org/2003/01/geo/wgs84_pos#\">\n\t\t\t<channel>\n\t\t\n<title>Yahoo! Weather - Atlanta, GA</title>\n<link>http://us.rd.yahoo.com/dailynews/rss/weather/Atlanta__GA/*http://weather.yahoo.com/forecast/USGA0028_f.html</link>\n<description>Yahoo! Weather for Atlanta, GA</description>\n<language>en-us</language>\n<lastBuildDate>Sun, 07 Apr 2013 8:50 am EDT</lastBuildDate>\n<ttl>60</ttl>\n<yweather:location city=\"Atlanta\" region=\"GA\"   country=\"US\"/>\n<yweather:units temperature=\"F\" distance=\"mi\" pressure=\"in\" speed=\"mph\"/>\n<yweather:wind chill=\"53\"   direction=\"170\"   speed=\"7\" />\n<yweather:atmosphere humidity=\"77\"  visibility=\"10\"  pressure=\"30.2\"  rising=\"1\" />\n<yweather:astronomy sunrise=\"7:16 am\"   sunset=\"8:00 pm\"/>\n<image>\n<title>Yahoo! Weather</title>\n<width>142</width>\n<height>18</height>\n<link>http://weather.yahoo.com</link>\n<url>http://l.yimg.com/a/i/brand/purplelogo//uh/us/news-wea.gif</url>\n</image>\n<item>\n<title>Conditions for Atlanta, GA at 8:50 am EDT</title>\n<geo:lat>33.75</geo:lat>\n<geo:long>-84.39</geo:long>\n<link>http://us.rd.yahoo.com/dailynews/rss/weather/Atlanta__GA/*http://weather.yahoo.com/forecast/USGA0028_f.html</link>\n<pubDate>Sun, 07 Apr 2013 8:50 am EDT</pubDate>\n<yweather:condition  text=\"Partly Cloudy\"  code=\"30\"  temp=\"53\"  date=\"Sun, 07 Apr 2013 8:50 am EDT\" />\n<description><![CDATA[\n<img src=\"http://l.yimg.com/a/i/us/we/52/30.gif\"/><br />\n<b>Current Conditions:</b><br />\nPartly Cloudy, 53 F<BR />\n<BR /><b>Forecast:</b><BR />\nSun - Partly Cloudy. High: 73 Low: 55<br />\nMon - Partly Cloudy. High: 77 Low: 58<br />\n<br />\n<a href=\"http://us.rd.yahoo.com/dailynews/rss/weather/Atlanta__GA/*http://weather.yahoo.com/forecast/USGA0028_f.html\">Full Forecast at Yahoo! Weather</a><BR/><BR/>\n(provided by <a href=\"http://www.weather.com\" >The Weather Channel</a>)<br/>\n]]></description>\n<yweather:forecast day=\"Sun\" date=\"7 Apr 2013\" low=\"55\" high=\"73\" text=\"Partly Cloudy\" code=\"30\" />\n<yweather:forecast day=\"Mon\" date=\"8 Apr 2013\" low=\"58\" high=\"77\" text=\"Partly Cloudy\" code=\"30\" />\n<guid isPermaLink=\"false\">USGA0028_2013_04_08_7_00_EDT</guid>\n</item>\n</channel>\n</rss>\n\n<!-- api14.weather.bf1.yahoo.com Sun Apr  7 14:32:00 PST 2013 -->\n"},"http_version":null},"recorded_at":"Sun, 07 Apr 2013 14:32:00 GMT"}],"recorded_with":"VCR 2.4.0"}