---
http_interactions:
- request:
    method: get
    uri: http://weather.yahooapis.com/forecastrss?w=615702
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\" ?>\n\t\t<rss
        version=\"2.0\" xmlns:yweather=\"http://xml.weather.yahoo.com/ns/rss/1.0\"
        xmlns:geo=\"http://www.w3.org/2003/01/geo/wgs84_pos#\">\n\t\t\t<channel>\n\t\t\n<title>Yahoo!
        Weather - Paris, FR</title>\n<link>http://us.rd.yahoo.com/dailynews/rss/weather/Paris__FR/*http://weather.yahoo.com/forecast/FRXX0076_f.html</link>\n<description>Yahoo!
        Weather for Paris, FR</description>\n<language>en-us</language>\n<lastBuildDate>Sat,
        09 Feb 2013 5:00 pm CET</lastBuildDate>\n<ttl>60</ttl>\n<yweather:location
        city=\"Paris\" region=\"\"   country=\"France\"/>\n<yweather:units temperature=\"F\"
        distance=\"mi\" pressure=\"in\" speed=\"mph\"/>\n<yweather:wind chill=\"30\"
        \  direction=\"110\"   speed=\"5\" />\n<yweather:atmosphere humidity=\"81\"
        \ visibility=\"6.21\"  pressure=\"30.09\"  rising=\"0\" />\n<yweather:astronomy
        sunrise=\"8:09 am\"   sunset=\"6:00 pm\"/>\n<image>\n<title>Yahoo! Weather</title>\n<width>142</width>\n<height>18</height>\n<link>http://weather.yahoo.com</link>\n<url>http://l.yimg.com/a/i/brand/purplelogo//uh/us/news-wea.gif</url>\n</image>\n<item>\n<title>Conditions
        for Paris, FR at 5:00 pm CET</title>\n<geo:lat>48.86</geo:lat>\n<geo:long>2.34</geo:long>\n<link>http://us.rd.yahoo.com/dailynews/rss/weather/Paris__FR/*http://weather.yahoo.com/forecast/FRXX0076_f.html</link>\n<pubDate>Sat,
        09 Feb 2013 5:00 pm CET</pubDate>\n<yweather:condition  text=\"Partly Cloudy\"
        \ code=\"30\"  temp=\"34\"  date=\"Sat, 09 Feb 2013 5:00 pm CET\" />\n<description><![CDATA[\n<img
        src=\"http://l.yimg.com/a/i/us/we/52/30.gif\"/><br />\n<b>Current Conditions:</b><br
        />\nPartly Cloudy, 34 F<BR />\n<BR /><b>Forecast:</b><BR />\nSat - Partly
        Cloudy. High: 39 Low: 28<br />\nSun - Snow to Wintry Mix. High: 34 Low: 34<br
        />\n<br />\n<a href=\"http://us.rd.yahoo.com/dailynews/rss/weather/Paris__FR/*http://weather.yahoo.com/forecast/FRXX0076_f.html\">Full
        Forecast at Yahoo! Weather</a><BR/><BR/>\n(provided by <a href=\"http://www.weather.com\"
        >The Weather Channel</a>)<br/>\n]]></description>\n<yweather:forecast day=\"Sat\"
        date=\"9 Feb 2013\" low=\"28\" high=\"39\" text=\"Partly Cloudy\" code=\"29\"
        />\n<yweather:forecast day=\"Sun\" date=\"10 Feb 2013\" low=\"34\" high=\"34\"
        text=\"Snow to Wintry Mix\" code=\"7\" />\n<guid isPermaLink=\"false\">FRXX0076_2013_02_10_7_00_CET</guid>\n</item>\n</channel>\n</rss>\n\n<!--
        api23.weather.bf1.yahoo.com Sat Feb  9 16:45:44 PST 2013 -->\n"
  recorded_at: Sat, 09 Feb 2013 16:45:44 GMT
- request:
    method: post
    uri: http://wherein.yahooapis.com/v1/document
    body:
      encoding: US-ASCII
      string: documentType=text%2Fhtml&outputType=xml&documentContent=New+York%2C+NY&appid=YAHOO
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Yahoo-Serving-Host:
      - wws06.geotech.bf1.yahoo.com
      Content-Language:
      - en
      Content-Type:
      - text/xml; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '<?xml version="1.0" encoding="utf-8"?>

        <contentlocation xmlns:yahoo="http://www.yahooapis.com/v1/base.rng" xmlns:xml="http://www.w3.org/XML/1998/namespace"
        xmlns="http://wherein.yahooapis.com/v1/schema" xml:lang="en">

        <processingTime>0.001506</processingTime>

        <version>1.8.0.872 build 121220</version>

        <documentLength>12</documentLength>

        <document>

        <administrativeScope>

        <woeId>2459115</woeId>

        <type>Town</type>

        <name><![CDATA[New York, NY, US]]></name>

        <centroid>

        <latitude>40.7146</latitude>

        <longitude>-74.0071</longitude>

        </centroid>

        </administrativeScope>

        <geographicScope>

        <woeId>2459115</woeId>

        <type>Town</type>

        <name><![CDATA[New York, NY, US]]></name>

        <centroid>

        <latitude>40.7146</latitude>

        <longitude>-74.0071</longitude>

        </centroid>

        </geographicScope>

        <localScopes>

        <localScope>

        <woeId>2459115</woeId>

        <type>Town</type>

        <name><![CDATA[New York, NY, US (Town)]]></name>

        <centroid>

        <latitude>40.7146</latitude>

        <longitude>-74.0071</longitude>

        </centroid>

        <southWest>

        <latitude>40.4766</latitude>

        <longitude>-74.2589</longitude>

        </southWest>

        <northEast>

        <latitude>40.9176</latitude>

        <longitude>-73.7004</longitude>

        </northEast>

        <ancestors>

        <ancestor>

        <woeId>2347591</woeId>

        <type>State</type>

        <name><![CDATA[New York]]></name>

        </ancestor>

        <ancestor>

        <woeId>23424977</woeId>

        <type>Country</type>

        <name><![CDATA[United States]]></name>

        </ancestor>

        </ancestors>

        </localScope>

        </localScopes>

        <extents>

        <center>

        <latitude>40.7146</latitude>

        <longitude>-74.0071</longitude>

        </center>

        <southWest>

        <latitude>40.4766</latitude>

        <longitude>-74.2589</longitude>

        </southWest>

        <northEast>

        <latitude>40.9176</latitude>

        <longitude>-73.7004</longitude>

        </northEast>

        </extents>

        <placeDetails>

        <placeId>1</placeId>

        <place>

        <woeId>2459115</woeId>

        <type>Town</type>

        <name><![CDATA[New York, NY, US]]></name>

        <centroid>

        <latitude>40.7146</latitude>

        <longitude>-74.0071</longitude>

        </centroid>

        </place>

        <placeReferenceIds>1</placeReferenceIds>

        <matchType>0</matchType>

        <weight>1</weight>

        <confidence>10</confidence>

        </placeDetails>

        <referenceList>

        <reference>

        <woeIds>2459115</woeIds>

        <placeReferenceId>1</placeReferenceId>

        <placeIds>1</placeIds>

        <start>0</start>

        <end>12</end>

        <isPlaintextMarker>1</isPlaintextMarker>

        <text><![CDATA[New York, NY]]></text>

        <type>plaintext</type>

        <xpath><![CDATA[]]></xpath>

        </reference>

        </referenceList>

        </document>

        </contentlocation>

'
  recorded_at: Sat, 09 Feb 2013 16:45:47 GMT
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=90210&region=US&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "{\n   \"results\" : [\n      {\n         \"address_components\" :
        [\n            {\n               \"long_name\" : \"90210\",\n               \"short_name\"
        : \"90210\",\n               \"types\" : [ \"postal_code\" ]\n            },\n
        \           {\n               \"long_name\" : \"Beverly Hills\",\n               \"short_name\"
        : \"Beverly Hills\",\n               \"types\" : [ \"locality\", \"political\"
        ]\n            },\n            {\n               \"long_name\" : \"Los Angeles\",\n
        \              \"short_name\" : \"Los Angeles\",\n               \"types\"
        : [ \"administrative_area_level_2\", \"political\" ]\n            },\n            {\n
        \              \"long_name\" : \"California\",\n               \"short_name\"
        : \"CA\",\n               \"types\" : [ \"administrative_area_level_1\", \"political\"
        ]\n            },\n            {\n               \"long_name\" : \"United
        States\",\n               \"short_name\" : \"US\",\n               \"types\"
        : [ \"country\", \"political\" ]\n            }\n         ],\n         \"formatted_address\"
        : \"Beverly Hills, CA 90210, USA\",\n         \"geometry\" : {\n            \"bounds\"
        : {\n               \"northeast\" : {\n                  \"lat\" : 34.13547710,\n
        \                 \"lng\" : -118.38671290\n               },\n               \"southwest\"
        : {\n                  \"lat\" : 34.0650940,\n                  \"lng\" :
        -118.44237810\n               }\n            },\n            \"location\"
        : {\n               \"lat\" : 34.10300320,\n               \"lng\" : -118.41046840\n
        \           },\n            \"location_type\" : \"APPROXIMATE\",\n            \"viewport\"
        : {\n               \"northeast\" : {\n                  \"lat\" : 34.13547710,\n
        \                 \"lng\" : -118.38671290\n               },\n               \"southwest\"
        : {\n                  \"lat\" : 34.0650940,\n                  \"lng\" :
        -118.44237810\n               }\n            }\n         },\n         \"types\"
        : [ \"postal_code\" ]\n      }\n   ],\n   \"status\" : \"OK\"\n}\n"
  recorded_at: Sat, 09 Feb 2013 16:45:48 GMT
[...]
- request:
    method: get
    uri: http://weather.yahooapis.com/forecastrss?p=USGA0028
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - text/xml;charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\" ?>\n\t\t<rss
        version=\"2.0\" xmlns:yweather=\"http://xml.weather.yahoo.com/ns/rss/1.0\"
        xmlns:[...]
[...]
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=KSFO&region=US&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "{\n   \"results\" : [\n      {\n         \"address_components\" :
        [\n            {\n               \"long_name\" : \"San[...]
[...]
- request:
    method: post
    uri: http://wherein.yahooapis.com/v1/document
    body:
      encoding: US-ASCII
      string: documentType=text%2Fhtml&outputType=xml&documentContent=New+York%2C+NY&appid=<YAHOO_KEY>
    headers:
      Content-Type:
      - application/x-www-form-urlencoded
  response:
    status:
      code: 200
      message: OK
    headers:
      X-Yahoo-Serving-Host:
      - wws09.geotech.bf1.yahoo.com
      Content-Language:
      - en
      Content-Type:
      - text/xml; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! '<?xml version="1.0" encoding="utf-8"?>

        <contentlocation xmlns:yahoo="http://www.yahooapis.com/v1/base.rng" xmlns:xml="http://www.w3.org/XML/1[...]
[...]
