{"http_interactions":[{"request":{"method":"get","uri":"http://maps.googleapis.com/maps/api/geocode/json?address=90210&region=US&sensor=false","body":{"encoding":"UTF-8","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=UTF-8"]},"body":{"encoding":"UTF-8","string":"{\n   \"results\" : [\n      {\n         \"address_components\" : [\n            {\n               \"long_name\" : \"90210\",\n               \"short_name\" : \"90210\",\n               \"types\" : [ \"postal_code\" ]\n            },\n            {\n               \"long_name\" : \"Beverly Hills\",\n               \"short_name\" : \"Beverly Hills\",\n               \"types\" : [ \"locality\", \"political\" ]\n            },\n            {\n               \"long_name\" : \"Los Angeles\",\n               \"short_name\" : \"Los Angeles\",\n               \"types\" : [ \"administrative_area_level_2\", \"political\" ]\n            },\n            {\n               \"long_name\" : \"California\",\n               \"short_name\" : \"CA\",\n               \"types\" : [ \"administrative_area_level_1\", \"political\" ]\n            },\n            {\n               \"long_name\" : \"United States\",\n               \"short_name\" : \"US\",\n               \"types\" : [ \"country\", \"political\" ]\n            }\n         ],\n         \"formatted_address\" : \"Beverly Hills, CA 90210, USA\",\n         \"geometry\" : {\n            \"bounds\" : {\n               \"northeast\" : {\n                  \"lat\" : 34.13547710,\n                  \"lng\" : -118.38671290\n               },\n               \"southwest\" : {\n                  \"lat\" : 34.0650940,\n                  \"lng\" : -118.44237810\n               }\n            },\n            \"location\" : {\n               \"lat\" : 34.10300320,\n               \"lng\" : -118.41046840\n            },\n            \"location_type\" : \"APPROXIMATE\",\n            \"viewport\" : {\n               \"northeast\" : {\n                  \"lat\" : 34.13547710,\n                  \"lng\" : -118.38671290\n               },\n               \"southwest\" : {\n                  \"lat\" : 34.0650940,\n                  \"lng\" : -118.44237810\n               }\n            }\n         },\n         \"types\" : [ \"postal_code\" ]\n      }\n   ],\n   \"status\" : \"OK\"\n}\n"},"http_version":null},"recorded_at":"Sat, 09 Feb 2013 18:42:51 GMT"},{"request":{"method":"get","uri":"http://weather.yahooapis.com/forecastrss?p=USGA0028","body":{"encoding":"UTF-8","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["text/xml;charset=UTF-8"]},"body":{"encoding":"UTF-8","string":"<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\" ?>\n\t\t<rss version=\"2.0\" xmlns:yweather=\"http://xml.weather.yahoo.com/ns/rss/1.0\" xmlns:geo=\"http://www.w3.org/2003/01/geo/wgs84_pos#\">\n\t\t\t<channel>\n\t\t\n<title>Yahoo! Weather - Atlanta, GA</title>\n<link>http://us.rd.yahoo.com/dailynews/rss/weather/Atlanta__GA/*http://weather.yahoo.com/forecast/USGA0028_f.html</link>\n<description>Yahoo! Weather for Atlanta, GA</description>\n<language>en-us</language>\n<lastBuildDate>Sat, 09 Feb 2013 12:50 pm EST</lastBuildDate>\n<ttl>60</ttl>\n<yweather:location city=\"Atlanta\" region=\"GA\"   country=\"US\"/>\n<yweather:units temperature=\"F\" distance=\"mi\" pressure=\"in\" speed=\"mph\"/>\n<yweather:wind chill=\"56\"   direction=\"90\"   speed=\"6\" />\n<yweather:atmosphere humidity=\"33\"  visibility=\"10\"  pressure=\"30.27\"  rising=\"2\" />\n<yweather:astronomy sunrise=\"7:26 am\"   sunset=\"6:15 pm\"/>\n<image>\n<title>Yahoo! Weather</title>\n<width>142</width>\n<height>18</height>\n<link>http://weather.yahoo.com</link>\n<url>http://l.yimg.com/a/i/brand/purplelogo//uh/us/news-wea.gif</url>\n</image>\n<item>\n<title>Conditions for Atlanta, GA at 12:50 pm EST</title>\n<geo:lat>33.75</geo:lat>\n<geo:long>-84.39</geo:long>\n<link>http://us.rd.yahoo.com/dailynews/rss/weather/Atlanta__GA/*http://weather.yahoo.com/forecast/USGA0028_f.html</link>\n<pubDate>Sat, 09 Feb 2013 12:50 pm EST</pubDate>\n<yweather:condition  text=\"Partly Cloudy\"  code=\"30\"  temp=\"56\"  date=\"Sat, 09 Feb 2013 12:50 pm EST\" />\n<description><![CDATA[\n<img src=\"http://l.yimg.com/a/i/us/we/52/30.gif\"/><br />\n<b>Current Conditions:</b><br />\nPartly Cloudy, 56 F<BR />\n<BR /><b>Forecast:</b><BR />\nSat - Sunny. High: 60 Low: 40<br />\nSun - PM Showers. High: 60 Low: 55<br />\n<br />\n<a href=\"http://us.rd.yahoo.com/dailynews/rss/weather/Atlanta__GA/*http://weather.yahoo.com/forecast/USGA0028_f.html\">Full Forecast at Yahoo! Weather</a><BR/><BR/>\n(provided by <a href=\"http://www.weather.com\" >The Weather Channel</a>)<br/>\n]]></description>\n<yweather:forecast day=\"Sat\" date=\"9 Feb 2013\" low=\"40\" high=\"60\" text=\"Sunny\" code=\"32\" />\n<yweather:forecast day=\"Sun\" date=\"10 Feb 2013\" low=\"55\" high=\"60\" text=\"PM Showers\" code=\"39\" />\n<guid isPermaLink=\"false\">USGA0028_2013_02_10_7_00_EST</guid>\n</item>\n</channel>\n</rss>\n\n<!-- api22.weather.bf1.yahoo.com Sat Feb  9 18:42:52 PST 2013 -->"},"http_version":null},"recorded_at":"Sat, 09 Feb 2013 18:42:52 GMT"},{"request":{"method":"get","uri":"http://maps.googleapis.com/maps/api/geocode/json?address=Atlanta,%20GA,%20US&region=&sensor=false","body":{"encoding":"UTF-8","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=UTF-8"]},"body":{"encoding":"UTF-8","string":"{\n   \"results\" : [\n      {\n         \"address_components\" : [\n            {\n               \"long_name\" : \"Atlanta\",\n               \"short_name\" : \"A[...]
{"request":{"method":"get","uri":"http://maps.googleapis.com/maps/api/geocode/json?address=New%20York,%20NY&region=&sensor=false","body":{"encoding":"UTF-8","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=UTF-8"]},"body":{"encoding":"UTF-8","string":"{\n   \"results\" : [\n      {\n         \"address_components\" : [\n            {\n               \"long_name\" : \"New York\",\n               \"short_name\" : \"New[...]
{"request":{"method":"get","uri":"http://maps.googleapis.com/maps/api/geocode/json?address=T5B%204M9&region=CA&sensor=false","body":{"encoding":"UTF-8","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=UTF-8"]},"body":{"encoding":"UTF-8","string":"{\n   \"results\" : [\n      {\n         \"address_components\" : [\n            {\n               \"long_name\" : \"T5B 4M9\",\n               \"short_name\" : \"T5B 4M9\"[...]
{"request":{"method":"get","uri":"http://maps.googleapis.com/maps/api/geocode/json?address=KSFO&region=US&sensor=false","body":{"encoding":"UTF-8","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=UTF-8"]},"body":{"encoding":"UTF-8","string":"{\n   \"results\" : [\n      {\n         \"address_components\" : [\n            {\n               \"long_name\" : \"San Francisco Airport\",\n               \"short_name\" : \"[...]
{"request":{"method":"get","uri":"http://maps.googleapis.com/maps/api/geocode/json?latlng=40.756054,-73.986951&region=&sensor=false","body":{"encoding":"UTF-8","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=UTF-8"]},"body":{"encoding":"UTF-8","string":"{\n   \"results\" : [\n      {\n         \"address_components\" : [\n            {\n               \"long_name\" : \"601-699\",\n               \"short_name\" : \"6[...]
{"request":{"method":"get","uri":"http://maps.googleapis.com/maps/api/geocode/json?address=Atlanta,%20GA,%20US&region=US&sensor=false","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=UTF-8"]},"body":{"encoding":"US-ASCII","string":"{\n   \"results\" : [\n      {\n         \"address_components\" : [\n            {\n               \"long_name\" : \"Atlanta\",\n               \"short_name[...]
