{"recorded_with":"VCR 2.4.0","http_interactions":[{"recorded_at":"Sat, 09 Feb 2013 18:42:55 GMT","response":{"body":{"string":"<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\" ?>\n\t\t<rss version=\"2.0\" xmlns:yweather=\"http://xml.weather.yahoo.com/ns/rss/1.0\" xmlns:geo=\"http://www.w3.org/2003/01/geo/wgs84_pos#\">\n\t\t\t<channel>\n\t\t\n<title>Yahoo! Weather - Paris, FR</title>\n<link>http://us.rd.yahoo.com/dailynews/rss/weather/Paris__FR/*http://weather.yahoo.com/forecast/FRXX0076_f.html</link>\n<description>Yahoo! Weather for Paris, FR</description>\n<language>en-us</language>\n<lastBuildDate>Sat, 09 Feb 2013 7:00 pm CET</lastBuildDate>\n<ttl>60</ttl>\n<yweather:location city=\"Paris\" region=\"\"   country=\"France\"/>\n<yweather:units temperature=\"F\" distance=\"mi\" pressure=\"in\" speed=\"mph\"/>\n<yweather:wind chill=\"32\"   direction=\"130\"   speed=\"2\" />\n<yweather:atmosphere humidity=\"87\"  visibility=\"6.21\"  pressure=\"30.09\"  rising=\"0\" />\n<yweather:astronomy sunrise=\"8:09 am\"   sunset=\"6:00 pm\"/>\n<image>\n<title>Yahoo! Weather</title>\n<width>142</width>\n<height>18</height>\n<link>http://weather.yahoo.com</link>\n<url>http://l.yimg.com/a/i/brand/purplelogo//uh/us/news-wea.gif</url>\n</image>\n<item>\n<title>Conditions for Paris, FR at 7:00 pm CET</title>\n<geo:lat>48.86</geo:lat>\n<geo:long>2.34</geo:long>\n<link>http://us.rd.yahoo.com/dailynews/rss/weather/Paris__FR/*http://weather.yahoo.com/forecast/FRXX0076_f.html</link>\n<pubDate>Sat, 09 Feb 2013 7:00 pm CET</pubDate>\n<yweather:condition  text=\"Partly Cloudy\"  code=\"29\"  temp=\"32\"  date=\"Sat, 09 Feb 2013 7:00 pm CET\" />\n<description><![CDATA[\n<img src=\"http://l.yimg.com/a/i/us/we/52/29.gif\"/><br />\n<b>Current Conditions:</b><br />\nPartly Cloudy, 32 F<BR />\n<BR /><b>Forecast:</b><BR />\nSat - Partly Cloudy. High: 39 Low: 28<br />\nSun - Snow to Wintry Mix. High: 34 Low: 34<br />\n<br />\n<a href=\"http://us.rd.yahoo.com/dailynews/rss/weather/Paris__FR/*http://weather.yahoo.com/forecast/FRXX0076_f.html\">Full Forecast at Yahoo! Weather</a><BR/><BR/>\n(provided by <a href=\"http://www.weather.com\" >The Weather Channel</a>)<br/>\n]]></description>\n<yweather:forecast day=\"Sat\" date=\"9 Feb 2013\" low=\"28\" high=\"39\" text=\"Partly Cloudy\" code=\"29\" />\n<yweather:forecast day=\"Sun\" date=\"10 Feb 2013\" low=\"34\" high=\"34\" text=\"Snow to Wintry Mix\" code=\"7\" />\n<guid isPermaLink=\"false\">FRXX0076_2013_02_10_7_00_CET</guid>\n</item>\n</channel>\n</rss>\n\n<!-- api1.weather.bf1.yahoo.com Sat Feb  9 18:42:55 PST 2013 -->\n"},"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["text/xml;charset=UTF-8"]},"http_version":null},"request":{"body":{"string":""},"headers":{},"uri":"http://weather.yahooapis.com/forecastrss?w=615702","method":"get"}},{"recorded_at":"Sat, 09 Feb 2013 18:42:56 GMT","response":{"body":{"string":"<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<contentlocation xmlns:yahoo=\"http://www.yahooapis.com/v1/base.rng\" xmlns:xml=\"http://www.w3.org/XML/1998/namespace\" xmlns=\"http://wherein.yahooapis.com/v1/schema\" xml:lang=\"en\">\n<processingTime>0.00158</processingTime>\n<version>1.8.0.872 build 121220</version>\n<documentLength>12</documentLength>\n<document>\n<administrativeScope>\n<woeId>2459115</woeId>\n<type>Town</type>\n<name><![CDATA[New York, NY, US]]></name>\n<centroid>\n<latitude>40.7146</latitude>\n<longitude>-74.0071</longitude>\n</centroid>\n</administrativeScope>\n<geographicScope>\n<woeId>2459115</woeId>\n<type>Town</type>\n<name><![CDATA[New York, NY, US]]></name>\n<centroid>\n<latitude>40.7146</latitude>\n<longitude>-74.0071</longitude>\n</centroid>\n</geographicScope>\n<localScopes>\n<localScope>\n<woeId>2459115</woeId>\n<type>Town</type>\n<name><![CDATA[New York, NY, US (Town)]]></name>\n<centroid>\n<latitude>40.7146</latitude>\n<longitude>-74.0071</longitude>\n</centroid>\n<southWest>\n<latitude>40.4766</latitude>\n<longitude>-74.2589</longitude>\n</southWest>\n<northEast>\n<latitude>40.9176</latitude>\n<longitude>-73.7004</longitude>\n</northEast>\n<ancestors>\n<ancestor>\n<woeId>2347591</woeId>\n<type>State</type>\n<name><![CDATA[New York]]></name>\n</ancestor>\n<ancestor>\n<woeId>23424977</woeId>\n<type>Country</type>\n<name><![CDATA[United States]]></name>\n</ancestor>\n</ancestors>\n</localScope>\n</localScopes>\n<extents>\n<center>\n<latitude>40.7146</latitude>\n<longitude>-74.0071</longitude>\n</center>\n<southWest>\n<latitude>40.4766</latitude>\n<longitude>-74.2589</longitude>\n</southWest>\n<northEast>\n<latitude>40.9176</latitude>\n<longitude>-73.7004</longitude>\n</northEast>\n</extents>\n<placeDetails>\n<placeId>1</placeId>\n<place>\n<woeId>2459115</woeId>\n<type>Town</type>\n<name><![CDATA[New York, NY, US]]></name>\n<centroid>\n<latitude>40.7146</latitude>\n<longitude>-74.0071</longitude>\n</centroid>\n</place>\n<placeReferenceIds>1</placeReferenceIds>\n<matchType>0</matchType>\n<weight>1</weight>\n<confidence>10</confidence>\n</placeDetails>\n<referenceList>\n<reference>\n<woeIds>2459115</woeIds>\n<placeReferenceId>1</placeReferenceId>\n<placeIds>1</placeIds>\n<start>0</start>\n<end>12</end>\n<isPlaintextMarker>1</isPlaintextMarker>\n<text><![CDATA[New York, NY]]></text>\n<type>plaintext</type>\n<xpath><![CDATA[]]></xpath>\n</reference>\n</referenceList>\n</document>\n</contentlocation>\n"},"status":{"code":200,"message":"OK"},"headers":{"Content-Language":["en"], "X-Yahoo-Serving-Host":["wws08.geotech.bf1.yahoo.com"], "Content-Type":["text/xml; charset=UTF-8"]},"http_version":null},"request":{"body":{"string":"documentContent=New%20York%2c%20NY&outputType=xml&documentType=text%2fhtml&appid=<YAHOO_KEY>"},"headers":{"Content-Type":["application/x-www-form-urlencoded"]},"uri":"http://wherein.yahooapis.com/v1/document","method":"post"}},{"recorded_at":"Sat, 09 Feb 2013 18:42:57 GMT","response":{"body":{"string":"{\n   \"results\" : [\n      {\n         \"address_components\" : [\n            {\n               \"long_name\" : \"90210\",\n               \"short_name\" : \"90210\",\n               \"types\" : [ \"postal_code\" ]\n            },\n            {\n               \"long_name\" : \"Beverly Hills\",\n               \"short_name\" : \"Beverly Hills\",\n               \"types\" : [ \"locality\", \"political\" ]\n            },\n            {\n               \"long_name\" : \"Los Angeles\",\n               \"short_name\" : \"Los Angeles\",\n               \"types\" : [ \"administrative_area_level_2\", \"political\" ]\n            },\n            {\n               \"long_name\" : \"California\",\n               \"short_name\" : \"CA\",\n               \"types\" : [ \"administrative_area_level_1\", \"political\" ]\n            },\n            {\n               \"long_name\" : \"United States\",\n               \"short_name\" : \"US\",\n               \"types\" : [ \"country\", \"political\" ]\n            }\n         ],\n         \"formatted_address\" : \"Beverly Hills, CA 90210, USA\",\n         \"geometry\" : {\n            \"bounds\" : {\n               \"northeast\" : {\n                  \"lat\" : 34.13547710,\n                  \"lng\" : -118.38671290\n               },\n               \"southwest\" : {\n                  \"lat\" : 34.0650940,\n                  \"lng\" : -118.44237810\n               }\n            },\n            \"location\" : {\n               \"lat\" : 34.10300320,\n               \"lng\" : -118.41046840\n            },\n            \"location_type\" : \"APPROXIMATE\",\n            \"viewport\" : {\n               \"northeast\" : {\n                  \"lat\" : 34.13547710,\n                  \"lng\" : -118.38671290\n               },\n               \"southwest\" : {\n                  \"lat\" : 34.0650940,\n                  \"lng\" : -118.44237810\n               }\n            }\n         },\n         \"types\" : [ \"postal_code\" ]\n      }\n   ],\n   \"status\" : \"OK\"\n}\n"},"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=UTF-8"]},"http_version":null},"request":{"body":{"string":""},"headers":{},"uri":"http://maps.googleapis.com/maps/api/geocode/json?address=90210&region=US&sensor=false","method":"get"}},[...]
{"recorded_at":"Sat, 09 Feb 2013 18:42:57 GMT","response":{"body":{"string":"<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\" ?>\n\t\t<rss version=\"2.0\" xmlns:yweather=\"http://xml.weather.yahoo.com/ns/rss/1.0\" xmlns:geo=\"http://www.w3.org/2003/01/geo/wgs84_pos#\">\n\t\t\t<channel>\n\t\t\n<title>Yahoo! Weather - Atlanta, GA</title>\n<link>http://us.rd.yahoo.com/dailynews/rss/weather/Atlanta__GA/*http://weather.yahoo.com/forecast/USGA0028_f.html</link>\n<description>Yahoo! Weather [...]
[...]
{"recorded_at":"Sat, 09 Feb 2013 18:42:58 GMT","response":{"body":{"string":"{\n   \"results\" : [\n      {\n         \"address_components\" : [\n            {\n               \"long_name\" : \"San Francisco Airport\",\n               \"short_name\" : \"San Francisco Airport\",\n               \"types\" : [ \"establishment\" ]\n            },\n            {\n               \"long_name\" : \"South Airport Boulevard\",\n               \"short_name\" : \"South Airport Boulevard\",\n               \[...]
[...]
