{"http_interactions":[{"request":{"method":"post","uri":"http://wherein.yahooapis.com/v1/document","body":{"encoding":"UTF-8","string":"documentType=text%2Fhtml&outputType=xml&documentContent=Paris%2C+France&appid=<YAHOO_KEY>"},"headers":{"Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Language":["en"], "Content-Type":["text/xml; charset=UTF-8"], "X-Yahoo-Serving-Host":["wws54.geotech.bf1.yahoo.com"]},"body":{"encoding":"UTF-8","string":"<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<contentlocation xmlns:yahoo=\"http://www.yahooapis.com/v1/base.rng\" xmlns:xml=\"http://www.w3.org/XML/1998/namespace\" xmlns=\"http://wherein.yahooapis.com/v1/schema\" xml:lang=\"en\">\n<processingTime>0.001697</processingTime>\n<version>2.0.4.946 build 130914</version>\n<documentLength>13</documentLength>\n<document>\n<administrativeScope>\n<woeId>615702</woeId>\n<type>Town</type>\n<name><![CDATA[Paris, Ile-de-France, FR]]></name>\n<centroid>\n<latitude>48.8569</latitude>\n<longitude>2.3412</longitude>\n</centroid>\n</administrativeScope>\n<geographicScope>\n<woeId>615702</woeId>\n<type>Town</type>\n<name><![CDATA[Paris, Ile-de-France, FR]]></name>\n<centroid>\n<latitude>48.8569</latitude>\n<longitude>2.3412</longitude>\n</centroid>\n</geographicScope>\n<localScopes>\n<localScope>\n<woeId>615702</woeId>\n<type>Town</type>\n<name><![CDATA[Paris, Ile-de-France, FR (Town)]]></name>\n<centroid>\n<latitude>48.8569</latitude>\n<longitude>2.3412</longitude>\n</centroid>\n<southWest>\n<latitude>48.6583</latitude>\n<longitude>2.08679</longitude>\n</southWest>\n<northEast>\n<latitude>49.0469</latitude>\n<longitude>2.63791</longitude>\n</northEast>\n<ancestors>\n<ancestor>\n<woeId>12597155</woeId>\n<type>Department</type>\n<name><![CDATA[Paris]]></name>\n</ancestor>\n<ancestor>\n<woeId>7153319</woeId>\n<type>State</type>\n<name><![CDATA[Île-de-France]]></name>\n</ancestor>\n<ancestor>\n<woeId>23424819</woeId>\n<type>Country</type>\n<name><![CDATA[France]]></name>\n</ancestor>\n</ancestors>\n</localScope>\n</localScopes>\n<extents>\n<center>\n<latitude>48.8569</latitude>\n<longitude>2.3412</longitude>\n</center>\n<southWest>\n<latitude>48.6583</latitude>\n<longitude>2.08679</longitude>\n</southWest>\n<northEast>\n<latitude>49.0469</latitude>\n<longitude>2.63791</longitude>\n</northEast>\n</extents>\n<placeDetails>\n<placeId>1</placeId>\n<place>\n<woeId>615702</woeId>\n<type>Town</type>\n<name><![CDATA[Paris, Ile-de-France, FR]]></name>\n<centroid>\n<latitude>48.8569</latitude>\n<longitude>2.3412</longitude>\n</centroid>\n</place>\n<placeReferenceIds>1</placeReferenceIds>\n<matchType>0</matchType>\n<weight>1</weight>\n<confidence>10</confidence>\n</placeDetails>\n<referenceList>\n<reference>\n<woeIds>615702</woeIds>\n<placeReferenceId>1</placeReferenceId>\n<placeIds>1</placeIds>\n<start>0</start>\n<end>13</end>\n<isPlaintextMarker>1</isPlaintextMarker>\n<text><![CDATA[Paris, France]]></text>\n<type>plaintext</type>\n<xpath><![CDATA[]]></xpath>\n</reference>\n</referenceList>\n</document>\n</contentlocation>\n"},"http_version":null},"recorded_at":"Sat, 26 Oct 2013 15:05:03 GMT"},[...]
