{"http_interactions":[{"request":{"method":"get","uri":"http://weather.yahooapis.com/forecastrss?p=USNY0996","body":{"encoding":"UTF-8","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["text/xml;charset=UTF-8"]},"body":{"encoding":"UTF-8","string":"<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\" ?>\n\t\t<rss version=\"2.0\" xmlns:yweather=\"http://xml.weather.yahoo.com/ns/rss/1.0\" xmlns:geo=\"http://www.w3.org/2003/01/geo/wgs84_pos#\">\n\t\t\t<channel>\n\t\t\n<title>Yahoo! Weather - New York, NY</title>\n<link>http://us.rd.yahoo.com/dailynews/rss/weather/New_York__NY/*http://weather.yahoo.com/forecast/USNY0996_f.html</link>\n<description>Yahoo! Weather for New York, NY</description>\n<language>en-us</language>\n<lastBuildDate>Sun, 27 Oct 2013 11:50 pm EDT</lastBuildDate>\n<ttl>60</ttl>\n<yweather:location city=\"New York\" region=\"NY\"   country=\"US\"/>\n<yweather:units temperature=\"F\" distance=\"mi\" pressure=\"in\" speed=\"mph\"/>\n<yweather:wind chill=\"47\"   direction=\"280\"   speed=\"6\" />\n<yweather:atmosphere humidity=\"46\"  visibility=\"10\"  pressure=\"30.15\"  rising=\"1\" />\n<yweather:astronomy sunrise=\"7:18 am\"   sunset=\"5:56 pm\"/>\n<image>\n<title>Yahoo! Weather</title>\n<width>142</width>\n<height>18</height>\n<link>http://weather.yahoo.com</link>\n<url>http://l.yimg.com/a/i/brand/purplelogo//uh/us/news-wea.gif</url>\n</image>\n<item>\n<title>Conditions for New York, NY at 11:50 pm EDT</title>\n<geo:lat>40.67</geo:lat>\n<geo:long>-73.94</geo:long>\n<link>http://us.rd.yahoo.com/dailynews/rss/weather/New_York__NY/*http://weather.yahoo.com/forecast/USNY0996_f.html</link>\n<pubDate>Sun, 27 Oct 2013 11:50 pm EDT</pubDate>\n<yweather:condition  text=\"Fair\"  code=\"33\"  temp=\"49\"  date=\"Sun, 27 Oct 2013 11:50 pm EDT\" />\n<description><![CDATA[\n<img src=\"http://l.yimg.com/a/i/us/we/52/33.gif\"/><br />\n<b>Current Conditions:</b><br />\nFair, 49 F<BR />\n<BR /><b>Forecast:</b><BR />\nSun - Clear. High: 56 Low: 39<br />\nMon - Sunny. High: 62 Low: 40<br />\nTue - Mostly Sunny. High: 53 Low: 44<br />\nWed - Partly Cloudy. High: 58 Low: 45<br />\nThu - Mostly Cloudy. High: 64 Low: 58<br />\n<br />\n<a href=\"http://us.rd.yahoo.com/dailynews/rss/weather/New_York__NY/*http://weather.yahoo.com/forecast/USNY0996_f.html\">Full Forecast at Yahoo! Weather</a><BR/><BR/>\n(provided by <a href=\"http://www.weather.com\" >The Weather Channel</a>)<br/>\n]]></description>\n<yweather:forecast day=\"Sun\" date=\"27 Oct 2013\" low=\"39\" high=\"56\" text=\"Clear\" code=\"31\" />\n<yweather:forecast day=\"Mon\" date=\"28 Oct 2013\" low=\"40\" high=\"62\" text=\"Sunny\" code=\"32\" />\n<yweather:forecast day=\"Tue\" date=\"29 Oct 2013\" low=\"44\" high=\"53\" text=\"Mostly Sunny\" code=\"34\" />\n<yweather:forecast day=\"Wed\" date=\"30 Oct 2013\" low=\"45\" high=\"58\" text=\"Partly Cloudy\" code=\"30\" />\n<yweather:forecast day=\"Thu\" date=\"31 Oct 2013\" low=\"58\" high=\"64\" text=\"Mostly Cloudy\" code=\"28\" />\n<guid isPermaLink=\"false\">USNY0996_2013_10_31_7_00_EDT</guid>\n</item>\n</channel>\n</rss>\n\n<!-- fan1697.sports.bf1.yahoo.com Mon Oct 28 04:13:23 PST 2013 -->\n"},"http_version":null},"recorded_at":"Mon, 28 Oct 2013 04:13:23 GMT"}],"recorded_with":"VCR 2.6.0"}