{"http_interactions":[{"request":{"method":"get","uri":"http://query.yahooapis.com/v1/public/yql?format=json&q=select%20*%20from%20geo.placefinder%20where%20text='90210'%20and%20gflags='R'","body":{"encoding":"UTF-8","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"X-Yql-Host":["engine4.yql.bf1.yahoo.com"], "Content-Type":["application/json;charset=utf-8"]},"body":{"encoding":"UTF-8","string":"{\"query\":{\"count\":1,\"created\":\"2013-10-27T23:46:54Z\",\"lang\":\"en-US\",\"results\":{\"Result\":{\"quality\":\"60\",\"latitude\":\"34.09818\",\"longitude\":\"-118.415734\",\"offsetlat\":\"34.103149\",\"offsetlon\":\"-118.416252\",\"radius\":\"4600\",\"name\":null,\"line1\":\"1472 Donhill Dr\",\"line2\":\"Los Angeles, CA 90210\",\"line3\":null,\"line4\":\"United States\",\"house\":\"1472\",\"street\":\"Donhill Dr\",\"xstreet\":null,\"unittype\":null,\"unit\":null,\"postal\":\"90210\",\"neighborhood\":\"Bel Air-Beverly Crest\",\"city\":\"Los Angeles\",\"county\":\"Los Angeles\",\"state\":\"California\",\"country\":\"United States\",\"countrycode\":\"US\",\"statecode\":\"CA\",\"countycode\":null,\"uzip\":\"90210\",\"hash\":null,\"woeid\":\"12795711\",\"woetype\":\"11\"}}}}"},"http_version":null},"recorded_at":"Mon, 28 Oct 2013 00:20:33 GMT"},{"request":{"method":"get","uri":"http://query.yahooapis.com/v1/public/yql?format=json&q=select%20*%20from%20geo.placefinder%20where%20text='Paris,%20France'%20and%20gflags='R'","body":{"encoding":"UTF-8","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"X-Yql-Host":["engine4.yql.bf1.yahoo.com"], "Content-Type":["application/json;charset=utf-8"]},"body":{"encoding":"UTF-8","string":"{\"query\":{\"count\":1,\"created\":\"2013-10-28T00:07:10Z\",\"lang\":\"en-US\",\"results\":{\"Result\":{\"quality\":\"40\",\"latitude\":\"48.85693\",\"longitude\":\"2.3412\",\"offsetlat\":\"48.85693\",\"offsetlon\":\"2.3412\",\"radius\":\"13700\",\"name\":null,\"line1\":\"15, Pont Neuf\",\"line2\":\"75001 Paris\",\"line3\":null,\"line4\":\"France\",\"house\":\"15\",\"street\":\"Pont Neuf\",\"xstreet\":null,\"unittype\":null,\"unit\":null,\"postal\":\"75001\",\"neighborhood\":\"Saint-Germain l'Auxerrois\",\"city\":\"Paris\",\"county\":\"Paris\",\"state\":\"Ile-de-France\",\"country\":\"France\",\"countrycode\":\"FR\",\"statecode\":null,\"countycode\":\"75\",\"uzip\":\"75001\",\"hash\":null,\"woeid\":\"12727257\",\"woetype\":\"11\"}}}}"},"http_version":null},"recorded_at":"Mon, 28 Oct 2013 00:20:34 GMT"},{"request":{"method":"get","uri":"http://query.yahooapis.com/v1/public/yql?format=json&q=select%20*%20from%20geo.placefinder%20where%20text='40.756054,-73.986951'%20and%20gflags='R'","body":{"encoding":"UTF-8","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"X-Yql-Host":["engine2.yql.bf1.yahoo.com"], "Content-Type":["application/json;charset=utf-8"]},"body":{"encoding":"UTF-8","string":"{\"query\":{\"count\":1,\"created\":\"2013-10-27T23:48:31Z\",\"lang\":\"en-US\",\"results\":{\"Result\":{\"quality\":\"87\",\"latitude\":\"40.756054\",\"longitude\":\"-73.986951\",\"offsetlat\":\"40.756054\",\"offsetlon\":\"-73.986951\",\"radius\":\"400\",\"name\":\"40.756054,-73.986951\",\"line1\":\"601 7th Ave\",\"line2\":\"New York, NY 10036\",\"line3\":null,\"line4\":\"United States\",\"house\":\"601\",\"street\":\"7th Ave\",\"xstreet\":null,\"unittype\":null,\"unit\":null,\"postal\":\"10036\",\"neighborhood\":\"Theater District-Times Square\",\"city\":\"New York\",\"county\":\"New York County\",\"state\":\"New York\",\"country\":\"United States\",\"countrycode\":\"US\",\"statecode\":\"NY\",\"countycode\":\"NY\",\"uzip\":\"10036\",\"hash\":\"AC013DD2F1F6EAB9\",\"woeid\":\"12761367\",\"woetype\":\"11\"}}}}"},"http_version":null},"recorded_at":"Mon, 28 Oct 2013 00:20:34 GMT"},{"request":{"method":"get","uri":"http://query.yahooapis.com/v1/public/yql?format=json&q=select%20*%20from%20geo.placefinder%20where%20text='T5B%204M9'%20and%20gflags='R'","body":{"encoding":"UTF-8","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"X-Yql-Host":["engine4.yql.bf1.yahoo.com"], "Content-Type":["application/json;charset=utf-8"]},"body":{"encoding":"UTF-8","string":"{\"query\":{\"count\":1,\"created\":\"2013-10-28T00:08:13Z\",\"lang\":\"en-US\",\"results\":{\"Result\":{\"quality\":\"60\",\"latitude\":\"53.57049\",\"longitude\":\"-113.458122\",\"offsetlat\":\"53.570492\",\"offsetlon\":\"-113.458122\",\"radius\":\"200\",\"name\":null,\"line1\":\"7556 118 Ave NW\",\"line2\":\"Edmonton, AB T5B\",\"line3\":null,\"line4\":\"Canada\",\"house\":\"7556\",\"street\":\"118 Ave NW\",\"xstreet\":null,\"unittype\":null,\"unit\":null,\"postal\":\"T5B\",\"neighborhood\":\"Montrose\",\"city\":\"Edmonton\",\"county\":\"Alberta\",\"state\":\"Alberta\",\"country\":\"Canada\",\"countrycode\":\"CA\",\"statecode\":\"AB\",\"countycode\":\"AB\",\"uzip\":\"T5B\",\"hash\":null,\"woeid\":\"12698082\",\"woetype\":\"11\"}}}}"},"http_version":null},"recorded_at":"Mon, 28 Oct 2013 00:20:35 GMT"},{"request":{"method":"get","uri":"http://query.yahooapis.com/v1/public/yql?format=json&q=select%20*%20from%20geo.placefinder%20where%20text='10001-5555'%20and%20gflags='R'","body":{"encoding":"UTF-8","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"X-Yql-Host":["engine4.yql.bf1.yahoo.com"], "Content-Type":["application/json;charset=utf-8"]},"body":{"encoding":"UTF-8","string":"{\"query\":{\"count\":1,\"created\":\"2013-10-27T23:48:30Z\",\"lang\":\"en-US\",\"results\":{\"Result\":{\"quality\":\"60\",\"latitude\":\"40.749779\",\"longitude\":\"-73.995552\",\"offsetlat\":\"40.749779\",\"offsetlon\":\"-73.995552\",\"radius\":\"1400\",\"name\":null,\"line1\":\"300 W 30th St\",\"line2\":\"New York, NY 10001\",\"line3\":null,\"line4\":\"United States\",\"house\":\"300\",\"street\":\"W 30th St\",\"xstreet\":null,\"unittype\":null,\"unit\":null,\"postal\":\"10001\",\"neighborhood\":\"Chelsea\",\"city\":\"New York\",\"county\":\"New York\",\"state\":\"New York\",\"country\":\"United States\",\"countrycode\":\"US\",\"statecode\":\"NY\",\"countycode\":\"NY\",\"uzip\":\"10001\",\"hash\":null,\"woeid\":\"12761333\",\"woetype\":\"11\"}}}}"},"http_version":null},"recorded_at":"Mon, 28 Oct 2013 00:20:35 GMT"}],"recorded_with":"VCR 2.6.0"}