{"http_interactions":[{"request":{"method":"get","uri":"http://query.yahooapis.com/v1/public/yql?format=json&q=select%20*%20from%20geo.placefinder%20where%20woeid='615702'%20and%20gflags='R'","body":{"encoding":"UTF-8","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"X-Yql-Host":["engine1.yql.bf1.yahoo.com"], "Content-Type":["application/json;charset=utf-8"]},"body":{"encoding":"UTF-8","string":"{\"query\":{\"count\":1,\"created\":\"2013-10-28T04:43:08Z\",\"lang\":\"en-US\",\"results\":{\"Result\":{\"quality\":\"40\",\"latitude\":\"48.85693\",\"longitude\":\"2.3412\",\"offsetlat\":\"48.85693\",\"offsetlon\":\"2.3412\",\"radius\":\"32900\",\"name\":null,\"line1\":\"15, Pont Neuf\",\"line2\":\"75001 Paris\",\"line3\":null,\"line4\":\"France\",\"house\":\"15\",\"street\":\"Pont Neuf\",\"xstreet\":null,\"unittype\":null,\"unit\":null,\"postal\":\"75001\",\"neighborhood\":\"Saint-Germain l'Auxerrois\",\"city\":\"Paris\",\"county\":\"Paris\",\"state\":\"Ile-de-France\",\"country\":\"France\",\"countrycode\":\"FR\",\"statecode\":null,\"countycode\":\"75\",\"uzip\":\"75001\",\"hash\":null,\"woeid\":\"12727257\",\"woetype\":\"11\"}}}}"},"http_version":null},"recorded_at":"Mon, 28 Oct 2013 04:43:38 GMT"},{"request":{"method":"get","uri":"http://query.yahooapis.com/v1/public/yql?format=json&q=select%20*%20from%20geo.placefinder%20where%20text='8.8.8.8'%20and%20gflags='R'","body":{"encoding":"UTF-8","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"X-Yql-Host":["engine6.yql.bf1.yahoo.com"], "Content-Type":["application/json;charset=utf-8"]},"body":{"encoding":"UTF-8","string":"{\"query\":{\"count\":1,\"created\":\"2013-10-28T04:38:26Z\",\"lang\":\"en-US\",\"results\":{\"Result\":{\"quality\":\"60\",\"latitude\":\"37.418726\",\"longitude\":\"-122.072037\",\"offsetlat\":\"37.419201\",\"offsetlon\":\"-122.075539\",\"radius\":\"4700\",\"name\":null,\"line1\":null,\"line2\":\"Mountain View, CA 94043\",\"line3\":null,\"line4\":\"United States\",\"house\":null,\"street\":null,\"xstreet\":null,\"unittype\":null,\"unit\":null,\"postal\":\"94043\",\"neighborhood\":null,\"city\":\"Mountain View\",\"county\":\"Santa Clara County\",\"state\":\"California\",\"country\":\"United States\",\"countrycode\":\"US\",\"statecode\":\"CA\",\"countycode\":null,\"uzip\":\"94043\",\"hash\":null,\"woeid\":\"12797130\",\"woetype\":\"11\"}}}}"},"http_version":null},"recorded_at":"Mon, 28 Oct 2013 04:43:43 GMT"}],"recorded_with":"VCR 2.6.0"}