{"http_interactions":[{"request":{"method":"get","uri":"https://api.weather.gov/points/42.7243,-73.6927/stations","body":{"encoding":"UTF-8","string":""},"headers":{}},"response":{"status":{"code":301,"message":"Moved Permanently"},"headers":{"Content-Type":["application/problem+json"], "Location":["/gridpoints/ALY/60,62/stations"], "X-Server-Id":["vm-lnx-nids-apiapp1.ncep.noaa.gov"], "X-Correlation-Id":["09acc25b-6036-4202-8ad5-3418563e020d"]},"body":{"encoding":"UTF-8","string":"{\n    \"correlationId\": \"09acc25b-6036-4202-8ad5-3418563e020d\",\n    \"title\": \"Redirect\",\n    \"type\": \"https://api.weather.gov/problems/GridpointRedirect\",\n    \"status\": 301,\n    \"detail\": \"The requested data can be found here: /gridpoints/ALY/60,62/stations\",\n    \"instance\": \"https://api.weather.gov/requests/09acc25b-6036-4202-8ad5-3418563e020d\"\n}"},"http_version":null},"recorded_at":"Thu, 17 May 2018 00:53:24 GMT"},{"request":{"method":"get","uri":"https://api.weather.gov/gridpoints/ALY/60,62/stations","body":{"encoding":"UTF-8","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/geo+json"], "X-Server-Id":["vm-lnx-nids-apiapp16.ncep.noaa.gov"], "X-Correlation-Id":["1dca1f06-e0a6-4fd9-b444-eb516d3e953c"]},"body":{"encoding":"UTF-8","string":"{\n    \"@context\": [\n        \"https://raw.githubusercontent.com/geojson/geojson-ld/master/contexts/geojson-base.jsonld\",\n        {\n            \"wx\": \"https://api.weather.gov/ontology#\",\n            \"s\": \"https://schema.org/\",\n            \"geo\": \"http://www.opengis.net/ont/geosparql#\",\n            \"unit\": \"http://codes.wmo.int/common/unit/\",\n            \"@vocab\": \"https://api.weather.gov/ontology#\",\n            \"geometry\": {\n                \"@id\": \"s:GeoCoordinates\",\n                \"@type\": \"geo:wktLiteral\"\n            },\n            \"city\": \"s:addressLocality\",\n            \"state\": \"s:addressRegion\",\n            \"distance\": {\n                \"@id\": \"s:Distance\",\n                \"@type\": \"s:QuantitativeValue\"\n            },\n            \"bearing\": {\n                \"@type\": \"s:QuantitativeValue\"\n            },\n            \"value\": {\n                \"@id\": \"s:value\"\n            },\n            \"unitCode\": {\n                \"@id\": \"s:unitCode\",\n                \"@type\": \"@id\"\n            },\n            \"forecastOffice\": {\n                \"@type\": \"@id\"\n            },\n            \"forecastGridData\": {\n                \"@type\": \"@id\"\n            },\n            \"publicZone\": {\n                \"@type\": \"@id\"\n            },\n            \"county\": {\n                \"@type\": \"@id\"\n            },\n            \"observationStations\": {\n                \"@container\": \"@list\",\n                \"@type\": \"@id\"\n            }\n        }\n    ],\n    \"type\": \"FeatureCollection\",\n    \"features\": [\n        {\n            \"id\": \"https://api.weather.gov/stations/KALB\",\n            \"type\": \"Feature\",\n            \"geometry\": {\n                \"type\": \"Point\",\n                \"coordinates\": [\n                    -73.79912,\n                    42.74722\n                ]\n            },\n            \"properties\": {\n                \"@id\": \"https://api.weather.gov/stations/KALB\",\n                \"@type\": \"wx:ObservationStation\",\n                \"elevation\": {\n                    \"value\": 86.868,\n                    \"unitCode\": \"unit:m\"\n                },\n                \"stationIdentifier\": \"KALB\",\n                \"name\": \"Albany International Airport\",\n                \"timeZone\": \"America/New_York\"\n            }\n        },\n        {\n            \"id\": \"https://api.weather.gov/stations/KDDH\",\n            \"type\": \"Feature\",\n            \"geometry\": {\n                \"type\": \"Point\",\n                \"coordinates\": [\n                    -73.2486,\n                    42.89355\n                ]\n            },\n            \"properties\": {\n                \"@id\": \"https://api.weather.gov/stations/KDDH\",\n                \"@type\": \"wx:Observat[...]
[...]
{"request":{"method":"get","uri":"https://api.weather.gov/gridpoints/LOX/148,47/stations","body":{"encoding":"UTF-8","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/geo+json"], "X-Server-Id":["vm-lnx-nids-apiapp1.ncep.noaa.gov"], "X-Correlation-Id":["adbd037d-1161-47bf-8efc-44b8f6750d7f"]},"body":{"encoding":"UTF-8","string":"{\n    \"@context\": [\n        \"https://raw.githubusercontent.com/geojson/geojson-ld/master/contexts/g[...]
