{"http_interactions":[{"request":{"method":"get","uri":"http://wxdata.weather.com/wxdata/search/search?where=New%20York,%20NY","body":{"encoding":"UTF-8","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["text/xml; charset=UTF-8"]},"body":{"encoding":"UTF-8","string":"<search ver=\"3.0\">\n          <loc id=\"USNY0996\" type=\"1\">New York, NY</loc><loc id=\"USNY1630\" type=\"1\">York, NY</loc><loc id=\"USNY0997\" type=\"1\">New York Mills, NY</loc><loc id=\"USNY0998\" type=\"1\">New York/Central Park, NY</loc><loc id=\"USNY0999\" type=\"1\">New York/JFK Intl Arpt, NY</loc><loc id=\"USNY1000\" type=\"1\">New York/La Guardia Arpt, NY</loc><loc id=\"USNY0981\" type=\"1\">New City, NY</loc><loc id=\"USNY1001\" type=\"1\">Newark, NY</loc><loc id=\"USNY1004\" type=\"1\">Newcomb, NY</loc><loc id=\"USNY1005\" type=\"1\">Newfane, NY</loc>\n        </search>"},"http_version":null},"recorded_at":"Thu, 17 May 2018 01:36:18 GMT"},{"request":{"method":"get","uri":"http://wxdata.weather.com/wxdata/search/search?where=Paris,%20France","body":{"encoding":"UTF-8","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["text/xml; charset=UTF-8"]},"body":{"encoding":"UTF-8","string":"<search ver=\"3.0\">\n          <loc id=\"FRXX0076\" type=\"1\">Paris, 75, France</loc><loc id=\"FRMP1691\" type=\"1\">Parisot, 81, France</loc><loc id=\"FRMP1692\" type=\"1\">Parisot, 82, France</loc><loc id=\"FRDO0206\" type=\"1\">Parisot, 24, France</loc><loc id=\"FRLG0038\" type=\"1\">Parisot, 47, France</loc><loc id=\"FRRA3239\" type=\"1\">Les Paris, 73, France</loc><loc id=\"FRBR2141\" type=\"1\">Petit Paris, 29, France</loc><loc id=\"FRXX2071\" type=\"1\">Paris 09, 75, France</loc><loc id=\"FRXX6513\" type=\"1\">Paris 07, 75, France</loc><loc id=\"FRRA3060\" type=\"1\">Le Petit Paris, 26, France</loc>\n        </search>"},"http_version":null},"recorded_at":"Thu, 17 May 2018 01:36:19 GMT"}],"recorded_with":"VCR 4.0.0"}