{"http_interactions":[{"request":{"method":"get","uri":"http://query.yahooapis.com/v1/public/yql?diagnostics=false&format=json&q=select%20*%20from%20geo.places%20where%20text=%27(98.139.183.24)%27%20limit%201","body":{"encoding":"UTF-8","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json;charset=utf-8"]},"body":{"encoding":"UTF-8","string":"{\"query\":{\"count\":0,\"created\":\"2018-05-14T01:40:39Z\",\"lang\":\"en-US\",\"results\":null}}"},"http_version":null},"recorded_at":"Mon, 14 May 2018 01:40:39 GMT"},{"request":{"method":"get","uri":"http://query.yahooapis.com/v1/public/yql?diagnostics=false&format=json&q=select%20*%20from%20geo.places%20where%20text=%27(40.756054,-73.986951)%27%20limit%201","body":{"encoding":"UTF-8","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json;charset=utf-8"]},"body":{"encoding":"UTF-8","string":"{\"query\":{\"count\":1,\"created\":\"2018-05-14T01:40:39Z\",\"lang\":\"en-US\",\"results\":{\"place\":{\"lang\":\"en-US\",\"xmlns\":\"http://where.yahooapis.com/v1/schema.rng\",\"yahoo\":\"http://www.yahooapis.com/v1/base.rng\",\"uri\":\"http://where.yahooapis.com/v1/place/91568254\",\"woeid\":\"91568254\",\"placeTypeName\":{\"code\":\"20\",\"content\":\"Point of Interest\"},\"name\":\"Times Square-W 42nd Street Entrance\",\"country\":{\"code\":\"US\",\"type\":\"Country\",\"woeid\":\"23424977\",\"content\":\"United States\"},\"admin1\":{\"code\":\"US-NY\",\"type\":\"State\",\"woeid\":\"2347591\",\"content\":\"New York\"},\"admin2\":{\"code\":\"\",\"type\":\"County\",\"woeid\":\"12589342\",\"content\":\"Manhattan\"},\"admin3\":null,\"locality1\":{\"type\":\"Town\",\"woeid\":\"2459115\",\"content\":\"New York\"},\"locality2\":{\"type\":\"Suburb\",\"woeid\":\"55864589\",\"content\":\"Midtown West\"},\"postal\":{\"type\":\"Zip Code\",\"woeid\":\"12761367\",\"content\":\"10036\"},\"centroid\":{\"latitude\":\"40.7561\",\"longitude\":\"-73.987083\"},\"boundingBox\":{\"southWest\":{\"latitude\":\"40.755638\",\"longitude\":\"-73.987679\"},\"northEast\":{\"latitude\":\"40.75655\",\"longitude\":\"-73.986473\"}},\"areaRank\":\"1\",\"popRank\":\"1\",\"timezone\":{\"type\":\"Time Zone\",\"woeid\":\"56043648\",\"content\":\"America/New_York\"}}}}}"},"http_version":null},"recorded_at":"Mon, 14 May 2018 01:40:39 GMT"},{"request":{"method":"get","uri":"http://query.yahooapis.com/v1/public/yql?diagnostics=false&format=json&q=select%20*%20from%20geo.places%20where%20text=%27(T5B%204M9)%27%20limit%201","body":{"encoding":"UTF-8","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json;charset=utf-8"]},"body":{"encoding":"UTF-8","string":"{\"query\":{\"count\":1,\"created\":\"2018-05-14T01:40:39Z\",\"lang\":\"en-US\",\"results\":{\"place\":{\"lang\":\[...]
{"request":{"method":"get","uri":"http://query.yahooapis.com/v1/public/yql?diagnostics=false&format=json&q=select%20*%20from%20geo.places%20where%20text=%27(10001)%27%20limit%201","body":{"encoding":"UTF-8","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json;charset=utf-8"]},"body":{"encoding":"UTF-8","string":"{\"query\":{\"count\":1,\"created\":\"2018-05-14T01:40:39Z\",\"lang\":\"en-US\",\"results\":{\"place\":{\"lang\":\"en-[...]
[...]
{"request":{"method":"get","uri":"http://query.yahooapis.com/v1/public/yql?diagnostics=false&format=json&q=select%20*%20from%20geo.places%20where%20text=%27(Paris,%20France)%27%20limit%201","body":{"encoding":"UTF-8","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json;charset=utf-8"]},"body":{"encoding":"UTF-8","string":"{\"query\":{\"count\":1,\"created\":\"2018-05-14T01:40:39Z\",\"lang\":\"en-US\",\"results\":{\"place\":{\"la[...]
