{"http_interactions":[{"request":{"method":"get","uri":"http://weather.yahooapis.com/forecastrss?p=USNY0996","body":{"encoding":"UTF-8","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["text/xml;charset=UTF-8"]},"body":{"encoding":"UTF-8","string":"<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\" ?>\n\t\t<rss version=\"2.0\" xmlns:yweather=\"http://xml.weather.yahoo.com/ns/rss/1.0\" xmlns:geo=\"http://www.w3.org/2003/01/geo/wgs84_pos#\">\n\t\t\t<channel>\n\t\t\n<title>Yahoo! Weather - New York, NY</title>\n<link>http://us.rd.yahoo.com/dailynews/rss/weather/New_York__NY/*http://weather.yahoo.com/forecast/USNY0996_f.html</link>\n<description>Yahoo! Weather for New York, NY</description>\n<language>en-us</language>\n<lastBuildDate>Sat, 26 Oct 2013 10:49 am EDT</lastBuildDate>\n<ttl>60</ttl>\n<yweather:location city=\"New York\" region=\"NY\"   country=\"US\"/>\n<yweather:units temperature=\"F\" distance=\"mi\" pressure=\"in\" speed=\"mph\"/>\n<yweather:wind chill=\"48\"   direction=\"0\"   speed=\"3\" />\n<yweather:atmosphere humidity=\"48\"  visibility=\"10\"  pressure=\"30.18\"  rising=\"2\" />\n<yweather:astronomy sunrise=\"7:18 am\"   sunset=\"5:58 pm\"/>\n<image>\n<title>Yahoo! Weather</title>\n<width>142</width>\n<height>18</height>\n<link>http://weather.yahoo.com</link>\n<url>http://l.yimg.com/a/i/brand/purplelogo//uh/us/news-wea.gif</url>\n</image>\n<item>\n<title>Conditions for New York, NY at 10:49 am EDT</title>\n<geo:lat>40.67</geo:lat>\n<geo:long>-73.94</geo:long>\n<link>http://us.rd.yahoo.com/dailynews/rss/weather/New_York__NY/*http://weather.yahoo.com/forecast/USNY0996_f.html</link>\n<pubDate>Sat, 26 Oct 2013 10:49 am EDT</pubDate>\n<yweather:condition  text=\"Fair\"  code=\"34\"  temp=\"48\"  date=\"Sat, 26 Oct 2013 10:49 am EDT\" />\n<description><![CDATA[\n<img src=\"http://l.yimg.com/a/i/us/we/52/34.gif\"/><br />\n<b>Current Conditions:</b><br />\nFair, 48 F<BR />\n<BR /><b>Forecast:</b><BR />\nSat - Mostly Sunny. High: 56 Low: 42<br />\nSun - Mostly Sunny. High: 58 Low: 39<br />\nMon - Mostly Sunny. High: 59 Low: 40<br />\nTue - Partly Cloudy. High: 53 Low: 42<br />\nWed - Partly Cloudy. High: 58 Low: 44<br />\n<br />\n<a href=\"http://us.rd.yahoo.com/dailynews/rss/weather/New_York__NY/*http://weather.yahoo.com/forecast/USNY0996_f.html\">Full Forecast at Yahoo! Weather</a><BR/><BR/>\n(provided by <a href=\"http://www.weather.com\" >The Weather Channel</a>)<br/>\n]]></description>\n<yweather:forecast day=\"Sat\" date=\"26 Oct 2013\" low=\"42\" high=\"56\" text=\"Mostly Sunny\" code=\"34\" />\n<yweather:forecast day=\"Sun\" date=\"27 Oct 2013\" low=\"39\" high=\"58\" text=\"Mostly Sunny\" code=\"34\" />\n<yweather:forecast day=\"Mon\" date=\"28 Oct 2013\" low=\"40\" high=\"59\" text=\"Mostly Sunny\" code=\"34\" />\n<yweather:forecast day=\"Tue\" date=\"29 Oct 2013\" low=\"42\" high=\"53\" text=\"Partly Cloudy\" code=\"30\" />\n<yweather:forecast day=\"Wed\" date=\"30 Oct 2013\" low=\"44\" high=\"58\" text=\"Partly Cloudy\" code=\"30\" />\n<guid isPermaLink=\"false\">USNY0996_2013_10_30_7_00_EDT</guid>\n</item>\n</channel>\n</rss>\n\n<!-- fan1561.sports.bf1.yahoo.com Sat Oct 26 15:06:36 PST 2013 -->\n"},"http_version":null},"recorded_at":"Sat, 26 Oct 2013 15:06:36 GMT"},{"request":{"method":"get","uri":"http://weather.yahooapis.com/forecastrss?w=2459115","body":{"encoding":"UTF-8","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["text/xml;charset=UTF-8"]},"body":{"encoding":"UTF-8","string":"<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\" ?>\n\t\t<rss version=\"2.0\" xmlns:yweather=\"http://xml.weather.yahoo.com/ns/rss/1.0\" xmlns:geo=\"http://www.w3.org/2003/01/geo/wgs84_pos#\">\n\t\t\t<channel>[...]
