{"http_interactions":[{"request":{"method":"get","uri":"https://maps.googleapis.com/maps/api/geocode/json?address=New%20York,%20NY&key=GOOGLE_APIKEY&sensor=false","body":{"encoding":"UTF-8","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=UTF-8"]},"body":{"encoding":"UTF-8","string":"{\n   \"results\" : [\n      {\n         \"address_components\" : [\n            {\n               \"long_name\" : \"New York\",\n               \"short_name\" : \"New York\",\n               \"types\" : [ \"locality\", \"political\" ]\n            },\n            {\n               \"long_name\" : \"New York\",\n               \"short_name\" : \"NY\",\n               \"types\" : [ \"administrative_area_level_1\", \"political\" ]\n            },\n            {\n               \"long_name\" : \"United States\",\n               \"short_name\" : \"US\",\n               \"types\" : [ \"country\", \"political\" ]\n            }\n         ],\n         \"formatted_address\" : \"New York, NY, USA\",\n         \"geometry\" : {\n            \"bounds\" : {\n               \"northeast\" : {\n                  \"lat\" : 40.9175771,\n                  \"lng\" : -73.70027209999999\n               },\n               \"southwest\" : {\n                  \"lat\" : 40.4773991,\n                  \"lng\" : -74.25908989999999\n               }\n            },\n            \"location\" : {\n               \"lat\" : 40.7127753,\n               \"lng\" : -74.0059728\n            },\n            \"location_type\" : \"APPROXIMATE\",\n            \"viewport\" : {\n               \"northeast\" : {\n                  \"lat\" : 40.9175771,\n                  \"lng\" : -73.70027209999999\n               },\n               \"southwest\" : {\n                  \"lat\" : 40.4773991,\n                  \"lng\" : -74.25908989999999\n               }\n            }\n         },\n         \"place_id\" : \"ChIJOwg_06VPwokRYv534QaPC8g\",\n         \"types\" : [ \"locality\", \"political\" ]\n      }\n   ],\n   \"status\" : \"OK\"\n}\n"},"http_version":null},"recorded_at":"Mon, 14 May 2018 17:15:38 GMT"},{"request":{"method":"get","uri":"https://maps.googleapis.com/maps/api/geocode/json?address=90210&key=GOOGLE_APIKEY&region=US&sensor=false","body":{"encoding":"UTF-8","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=UTF-8"]},"body":{"encoding":"UTF-8","string":"{\n   \"results\" : [\n      {\n         \"address_components\" : [\n            {\n               \"long_name\" : \"90210\",\n               \"short_name\" [...]
{"request":{"method":"get","uri":"https://maps.googleapis.com/maps/api/geocode/json?key=GOOGLE_APIKEY&latlng=47,-114&sensor=false","body":{"encoding":"UTF-8","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=UTF-8"]},"body":{"encoding":"UTF-8","string":"{\n   \"results\" : [\n      {\n         \"address_components\" : [\n            {\n               \"long_name\" : \"1700\",\n               \"short_name\" : \"1700\"[...]
