{"http_interactions":[{"request":{"method":"get","uri":"http://weather.yahooapis.com/forecastrss?p=90210&u=c","body":{"encoding":"UTF-8","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["text/xml;charset=UTF-8"]},"body":{"encoding":"UTF-8","string":"<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\" ?>\n\t\t<rss version=\"2.0\" xmlns:yweather=\"http://xml.weather.yahoo.com/ns/rss/1.0\" xmlns:geo=\"http://www.w3.org/2003/01/geo/wgs84_pos#\">\n\t\t\t<channel>\n\t\t\n<title>Yahoo! Weather - Beverly Hills, CA</title>\n<link>http://us.rd.yahoo.com/dailynews/rss/weather/Beverly_Hills__CA/*http://weather.yahoo.com/forecast/USCA0090_c.html</link>\n<description>Yahoo! Weather for Beverly Hills, CA</description>\n<language>en-us</language>\n<lastBuildDate>Sat, 26 Oct 2013 6:52 am PDT</lastBuildDate>\n<ttl>60</ttl>\n<yweather:location city=\"Beverly Hills\" region=\"CA\"   country=\"US\"/>\n<yweather:units temperature=\"C\" distance=\"km\" pressure=\"mb\" speed=\"km/h\"/>\n<yweather:wind chill=\"12\"   direction=\"0\"   speed=\"0\" />\n<yweather:atmosphere humidity=\"72\"  visibility=\"16.09\"  pressure=\"1017.1\"  rising=\"0\" />\n<yweather:astronomy sunrise=\"7:07 am\"   sunset=\"6:04 pm\"/>\n<image>\n<title>Yahoo! Weather</title>\n<width>142</width>\n<height>18</height>\n<link>http://weather.yahoo.com</link>\n<url>http://l.yimg.com/a/i/brand/purplelogo//uh/us/news-wea.gif</url>\n</image>\n<item>\n<title>Conditions for Beverly Hills, CA at 6:52 am PDT</title>\n<geo:lat>34.08</geo:lat>\n<geo:long>-118.4</geo:long>\n<link>http://us.rd.yahoo.com/dailynews/rss/weather/Beverly_Hills__CA/*http://weather.yahoo.com/forecast/USCA0090_c.html</link>\n<pubDate>Sat, 26 Oct 2013 6:52 am PDT</pubDate>\n<yweather:condition  text=\"Fair\"  code=\"33\"  temp=\"12\"  date=\"Sat, 26 Oct 2013 6:52 am PDT\" />\n<description><![CDATA[\n<img src=\"http://l.yimg.com/a/i/us/we/52/33.gif\"/><br />\n<b>Current Conditions:</b><br />\nFair, 12 C<BR />\n<BR /><b>Forecast:</b><BR />\nSat - Mostly Sunny. High: 27 Low: 14<br />\nSun - Partly Cloudy. High: 25 Low: 14<br />\nMon - Few Showers. High: 17 Low: 11<br />\nTue - Few Showers. High: 16 Low: 11<br />\nWed - Sunny. High: 20 Low: 11<br />\n<br />\n<a href=\"http://us.rd.yahoo.com/dailynews/rss/weather/Beverly_Hills__CA/*http://weather.yahoo.com/forecast/USCA0090_c.html\">Full Forecast at Yahoo! Weather</a><BR/><BR/>\n(provided by <a href=\"http://www.weather.com\" >The Weather Channel</a>)<br/>\n]]></description>\n<yweather:forecast day=\"Sat\" date=\"26 Oct 2013\" low=\"14\" high=\"27\" text=\"Mostly Sunny\" code=\"34\" />\n<yweather:forecast day=\"Sun\" date=\"27 Oct 2013\" low=\"14\" high=\"25\" text=\"Partly Cloudy\" code=\"30\" />\n<yweather:forecast day=\"Mon\" date=\"28 Oct 2013\" low=\"11\" high=\"17\" text=\"Few Showers\" code=\"11\" />\n<yweather:forecast day=\"Tue\" date=\"29 Oct 2013\" low=\"11\" high=\"16\" text=\"Few Showers\" code=\"11\" />\n<yweather:forecast day=\"Wed\" date=\"30 Oct 2013\" low=\"11\" high=\"20\" text=\"Sunny\" code=\"32\" />\n<guid isPermaLink=\"false\">USCA0090_2013_10_30_7_00_PDT</guid>\n</item>\n</channel>\n</rss>\n\n<!-- fan1566.sports.bf1.yahoo.com Sat Oct 26 14:56:33 PST 2013 -->\n"},"http_version":null},"recorded_at":"Sat, 26 Oct 2013 14:56:33 GMT"}],"recorded_with":"VCR 2.6.0"}