{"http_interactions":[{"request":{"method":"get","uri":"http://api.wunderground.com/auto/wui/geo/WXCurrentObXML/index.xml?query=Calgary,AB","body":{"encoding":"UTF-8","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["text/xml"], "X-Creationtime":["0.070"]},"body":{"encoding":"UTF-8","string":"\t<current_observation>\n\t\t<credit>Weather Underground NOAA Weather Station</credit>\n\t\t<credit_URL>http://wunderground.com/</credit_URL>\n<termsofservice link=\"http://www.wunderground.com/weather/api/d/terms.html\">This feed will be deprecated. Please switch to http://www.wunderground.com/weather/api/</termsofservice>\n\t\t<image>\n\t\t<url>http://icons.wxug.com/graphics/wu2/logo_130x80.png</url>\n\t\t<title>Weather Underground</title>\n\t\t<link>http://wunderground.com/</link>\n\t\t</image>\n  <display_location>\n  <full>Calgary, Alberta</full>\n  <city>Calgary</city>\n  <state>AB</state>\n  <state_name>Alberta</state_name>\n  <country>CA</country>\n  <country_iso3166>CA</country_iso3166>\n  <zip>00000</zip>\n  <latitude>51.04999924</latitude>\n  <longitude>-114.05999756</longitude>\n  <elevation>1082.0 ft</elevation>\n  </display_location>\n\t\t<observation_location>\n\t\t<full>Calgary, </full>\n\t\t<city>Calgary</city>\n\t\t<state></state>\n\t\t<country>CA</country>\n\t\t<country_iso3166>CA</country_iso3166>\n\t\t<latitude>51.11999893</latitude>\n\t\t<longitude>-114.01999664</longitude>\n\t\t<elevation>3556 ft</elevation>\n\t\t</observation_location>\n\t\t<station_id>CYYC</station_id>\n\t\t<observation_time>Last Updated on May 16, 6:00 PM MDT</observation_time>\n\t\t<observation_time_rfc822>Thu, 17 May 2018 00:00:00 GMT</observation_time_rfc822>\n\t\t<observation_epoch>1526515200</observation_epoch>\n\t\t<local_time>May 16, 7:30 PM MDT</local_time>\n\t\t<local_time_rfc822>Thu, 17 May 2018 01:30:21 GMT</local_time_rfc822>\n\t\t<local_epoch>1526520621</local_epoch>\n\t\t<weather>smoke</weather>\n\t\t<temperature_string>75 F (24 C)</temperature_string>\n\t\t<temp_f>75</temp_f>\n\t\t<temp_c>24</temp_c>\n\t\t<relative_humidity>25%</relative_humidity>\n\t\t<wind_string>From the NE at 14 MPH Gusting to 24 MPH</wind_string>\n\t\t<wind_dir>NE</wind_dir>\n\t\t<wind_degrees>50</wind_degrees>\n\t\t<wind_mph>14</wind_mph>\n\t\t<wind_gust_mph>24</wind_gust_mph>\n\t\t<pressure_string>29.82 in (1010 mb)</pressure_string>\r\n\t\t<pressure_mb>1010</pressure_mb>\r\n\t\t<pressure_in>29.82</pressure_in>\r\n\t\t<dewpoint_string>37 F (3 C)</dewpoint_string>\r\n\t\t<dewpoint_f>37</dewpoint_f>\r\n\t\t<dewpoint_c>3</dewpoint_c>\r\n\t\t\r\n\t\t<heat_index_string>NA</heat_index_string>\r\n\t\t<heat_index_f>NA</heat_index_f>\r\n\t\t<heat_index_c>NA</heat_index_c>\r\n\t\t\r\n\t\t\r\n\t\t<windchill_string>NA</windchill_string>\r\n\t\t<windchill_f>NA</windchill_f>\r\n\t\t<windchill_c>NA</windchill_c>\r\n\t\t\r\n\t\t<visibility_mi>6.0</visibility_mi>\r\n\t\t<visibility_km>9.7</visibility_km>\r\n\t\t<icons>\r\n\t\t\t<icon_set name=\"Default\">\r\n\t\t\t\t<icon_url>http://icons.wxug.com/i/c/a/hazy.gif</icon_url>\r\n\t\t\t</icon_set>\r\n\t\t\t<icon_set name=\"Smiley\">\r\n\t\t\t\t<icon_url>http://icons.wxug.com/i/c/b/hazy.gif</icon_url>\r\n\t\t\t</icon_set>\r\n\t\t\t<icon_set name=\"Generic\">\r\n\t\t\t\t<icon_url>http://icons.wxug.com/i/c/c/hazy.gif</icon_url>\r\n\t\t\t</icon_set>\r\n\t\t\t<icon_set name=\"Old School\">\r\n\t\t\t\t<icon_url>http://icons.wxug.com/i/c/d/hazy.gif</icon_url>\r\n\t\t\t</icon_set>\r\n\t\t\t<icon_set name=\"Cartoon\">\r\n\t\t\t\t<icon_url>http://icons.wxug.com/i/c/e/hazy.gif</icon_url>\r\n\t\t\t</icon_set>\r\n\t\t\t<icon_set name=\"Mobile\">\r\n\t\t\t\t<icon_url>http://icons.wxug.com/i/c/f/hazy.gif</icon_url>\r\n\t\t\t</icon_set>\r\n\t\t\t<icon_set name=\"Simple\">\r\n\t\t\t\t<icon_url>http://icons.wxug.com/i/c/g/hazy.gif</icon_url>\r\n\t\t\t</icon_set>\r\n\t\t\t<icon_set name=\"Contemporary\">\r\n\t\t\t\t<icon_url>http://icons.wxug.com/i/c/h/hazy.gif</icon_url>\r\n\t\t\t</icon_set>\r\n\t\t\t<icon_set name=\"Helen\">\r\n\t\t\t\t<icon_url>http://icons.wxug.com/i/c/i/hazy.gif</icon_url>\r\n\t\t\t</icon_set>\r\n\t\t\t<icon_set name=\"Incredible\">\r\n\t\t\t\t<icon_url>http://icons.wxug.com/i/c/k/hazy.gif</icon_url>\r\n\t\t\t</icon_set>\r\n\t\t</icons>\r\n\t\t<icon_url_base>http://icons.wxug.com/graphics/conds/</icon_url_base>\r\n\t\t<icon_url_name>.GIF</icon_url_name>\r\n\t\t<icon>hazy</icon>\r\n\t\t<forecast_url>http://www.wunderground.com/global/stations/71393.html</forecast_url>\r\n\t\t<history_url>http://www.wunderground.com/history/airport/CYYC/2018/5/16/DailyHistory.html</history_url>\r\n\t\t<ob_url>http://www.wunderground.com/cgi-bin/findweather/getForecast?query=51.11999893,-114.01999664</ob_url>\r\n\t</current_observation>\r\n"},"http_version":null},"recorded_at":"Thu, 17 May 2018 01:30:21 GMT"},{"request":{"method":"get","uri":"http://api.wunderground.com/auto/wui/geo/ForecastXML/index.xml?query=Calgary,AB","body":{"encoding":"UTF-8","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["text/xml"], "X-Creationtime":["0.137"]},"body":{"encoding":"UTF-8","string":"<?xml version=\"1.0\" ?>\n<forecast>\n\t\t<termsofservice link=\"http://www.wunderground.com/weather/api/d/terms.html\">This feed will be deprecated. Please switch to http://www.wunderground.com/weather/api/</termsofservice>\n\t<txt_forecast>\n  <date>5:00 PM MST</date>\n  <number></number>\n\t</txt_forecast>\n<simpleforecast>\n  <forecastday>\n  <period>1</period>\n  <date>\n  <epoch>1515002400</epoch>\n  <pretty_short>11:00 AM MST</pretty_short>\n  <pretty>11:00 AM MST on January 03, 2018</pretty>\n  <day>3</day>\n  <month>1</month>\n  <year>2018</year>\n  <yday>2</yday>\n  <hour>11</hour>\n  <min>00</min>\n  <sec>0</sec>\n  <isdst>0</isdst>\n  <monthname>January</monthname>\n  <weekday_short></weekday_short>\n  <weekday>Wednesday</weekday>\n  <ampm>AM</ampm>\n  <tz_short>MST</tz_short>\n  <tz_long>America/Edmonton</tz_long>\n</date>\r\n            <high>\r\n              <fahrenheit>38</fahrenheit>\r\n              <celsius>3</celsius>\r\n            </high>\r\n            <low>\r\n              <fahrenheit>18</fahrenheit>\r\n              <celsius>-8</celsius>\r\n            </low>\r\n            <conditions>Clear</conditions>\r\n            <icon>clear</icon>\r\n\t        <icons>\r\n    \t        <icon_set name=\"Default\">\r\n\t                <icon_url>http://icons.wxug.com/i/c/a/clear.gif</icon_url>\r\n\t            </icon_set>\r\n    \t        <icon_set name=\"Smiley\">\r\n\t                <icon_url>http://icons.wxug.com/i/c/b/clear.gif</icon_url>\r\n\t            </icon_set>\r\n    \t        <icon_set name=\"Generic\">\r\n\t                <icon_url>http://icons.wxug.com/i/c/c/clear.gif</icon[...]
