{"http_interactions":[{"request":{"method":"get","uri":"http://weather.yahooapis.com/forecastrss?p=90210&u=c","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["text/xml;charset=UTF-8"]},"body":{"encoding":"US-ASCII","string":"<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\" ?>\n\t\t<rss version=\"2.0\" xmlns:yweather=\"http://xml.weather.yahoo.com/ns/rss/1.0\" xmlns:geo=\"http://www.w3.org/2003/01/geo/wgs84_pos#\">\n\t\t\t<channel>\n\t\t\n<title>Yahoo! Weather - Beverly Hills, CA</title>\n<link>http://us.rd.yahoo.com/dailynews/rss/weather/Beverly_Hills__CA/*http://weather.yahoo.com/forecast/USCA0090_c.html</link>\n<description>Yahoo! Weather for Beverly Hills, CA</description>\n<language>en-us</language>\n<lastBuildDate>Wed, 28 Aug 2013 11:50 pm PDT</lastBuildDate>\n<ttl>60</ttl>\n<yweather:location city=\"Beverly Hills\" region=\"CA\"   country=\"US\"/>\n<yweather:units temperature=\"C\" distance=\"km\" pressure=\"mb\" speed=\"km/h\"/>\n<yweather:wind chill=\"19\"   direction=\"0\"   speed=\"0\" />\n<yweather:atmosphere humidity=\"84\"  visibility=\"16.09\"  pressure=\"1012.2\"  rising=\"1\" />\n<yweather:astronomy sunrise=\"6:22 am\"   sunset=\"7:23 pm\"/>\n<image>\n<title>Yahoo! Weather</title>\n<width>142</width>\n<height>18</height>\n<link>http://weather.yahoo.com</link>\n<url>http://l.yimg.com/a/i/brand/purplelogo//uh/us/news-wea.gif</url>\n</image>\n<item>\n<title>Conditions for Beverly Hills, CA at 11:50 pm PDT</title>\n<geo:lat>34.08</geo:lat>\n<geo:long>-118.4</geo:long>\n<link>http://us.rd.yahoo.com/dailynews/rss/weather/Beverly_Hills__CA/*http://weather.yahoo.com/forecast/USCA0090_c.html</link>\n<pubDate>Wed, 28 Aug 2013 11:50 pm PDT</pubDate>\n<yweather:condition  text=\"Fair\"  code=\"33\"  temp=\"19\"  date=\"Wed, 28 Aug 2013 11:50 pm PDT\" />\n<description><![CDATA[\n<img src=\"http://l.yimg.com/a/i/us/we/52/33.gif\"/><br />\n<b>Current Conditions:</b><br />\nFair, 19 C<BR />\n<BR /><b>Forecast:</b><BR />\nWed - Clear. High: 31 Low: 21<br />\nThu - Mostly Sunny. High: 32 Low: 21<br />\nFri - Partly Cloudy. High: 31 Low: 21<br />\nSat - Mostly Sunny. High: 29 Low: 19<br />\nSun - Sunny. High: 26 Low: 18<br />\n<br />\n<a href=\"http://us.rd.yahoo.com/dailynews/rss/weather/Beverly_Hills__CA/*http://weather.yahoo.com/forecast/USCA0090_c.html\">Full Forecast at Yahoo! Weather</a><BR/><BR/>\n(provided by <a href=\"http://www.weather.com\" >The Weather Channel</a>)<br/>\n]]></description>\n<yweather:forecast day=\"Wed\" date=\"28 Aug 2013\" low=\"21\" high=\"31\" text=\"Clear\" code=\"31\" />\n<yweather:forecast day=\"Thu\" date=\"29 Aug 2013\" low=\"21\" high=\"32\" text=\"Mostly Sunny\" code=\"34\" />\n<yweather:forecast day=\"Fri\" date=\"30 Aug 2013\" low=\"21\" high=\"31\" text=\"Partly Cloudy\" code=\"30\" />\n<yweather:forecast day=\"Sat\" date=\"31 Aug 2013\" low=\"19\" high=\"29\" text=\"Mostly Sunny\" code=\"34\" />\n<yweather:forecast day=\"Sun\" date=\"1 Sep 2013\" low=\"18\" high=\"26\" text=\"Sunny\" code=\"32\" />\n<guid isPermaLink=\"false\">USCA0090_2013_09_01_7_00_PDT</guid>\n</item>\n</channel>\n</rss>\n\n<!-- api27.weather.gq1.yahoo.com Thu Aug 29 07:13:52 PST 2013 -->\n"},"http_version":null},"recorded_at":"Thu, 29 Aug 2013 07:13:51 GMT"}],"recorded_with":"VCR 2.5.0"}