{"http_interactions":[{"request":{"method":"get","uri":"https://api.darkskyapp.com/v1/forecast/FORECAST_IO_APIKEY/42.7243,-73.6927?units=si","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "X-Forecast-Api-Calls":["1"], "Etag":["\"-1525689390\""]},"body":{"encoding":"US-ASCII","string":"{\"hourPrecipitation\":[{\"time\":1378348262,\"probability\":0,\"intensity\":0,\"error\":0,\"type\":\"rain\"},{\"time\":1378348322,\"probability\":0,\"intensity\":0,\"error\":0,\"type\":\"rain\"},{\"time\":1378348382,\"probability\":0,\"intensity\":0,\"error\":0,\"type\":\"rain\"},{\"time\":1378348442,\"probability\":0,\"intensity\":0,\"error\":0,\"type\":\"rain\"},{\"time\":1378348502,\"probability\":0,\"intensity\":0,\"error\":0,\"type\":\"rain\"},{\"time\":1378348562,\"probability\":0,\"intensity\":0,\"error\":0,\"type\":\"rain\"},{\"time\":1378348622,\"probability\":0,\"intensity\":0,\"err[...]
{"request":{"method":"get","uri":"https://api.forecast.io/forecast/FORECAST_IO_APIKEY/42.7243,-73.6927?units=si","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "X-Forecast-Api-Calls":["2"], "Etag":["\"1825918872\""], "X-Response-Time":["359ms"]},"body":{"encoding":"UTF-8","string":"{\"latitude\":42.7243,\"longitude\":-73.6927,\"timezone\":\"America/New_York\",\"offset\":-4,\"currently\":{\"time\":1378353655,\"summary\":\"Partly Cloudy\",\"icon\":\"partly-cloudy-night\",\"precipIntensity\":0,\"precipProbability\":0,\"temperature\":15.69,\"apparentTemperature\":15.69,\"dewPoint\":11.99,\"windSpeed\":0.35,\"windBearing\":358,\"cloudCover\":0.42,\"humidity\":0.79,\"pressure\":1012.63,\"visibility\":15.72,\"ozone\":304.66},\"minutely\":{\"summary\":\"Partly cloudy for the hour.\",\"icon\":\"partly-cloudy-night\",\"data\":[{\"time\":1378353600,\"precipIntensity\":0,\"precipProbability\":0},{\"time\":1378353660,\"precipIntensity\":0,\"precipProbability\":0},{\"time\":1378353720,\"precipIntensity\":0,\"precipProbability\":0},{\"time\":1378353780,\"precipIntensity\":0,\"precipProbability\":0},{\"time\":1378353840,\"precipIntensity\":0,\"precipProbability\":0},{\"time\":1378353900,\"precipIntensity\":0,\"precipProbability\":0},{\"time\":1378353960,\"precipIntensity\":0,\"precipProbability\":0},{\"time\":1378354020,\"[...]
