{"http_interactions":[{"request":{"uri":"http://api.wunderground.com/auto/wui/geo/WXCurrentObXML/index.xml?query=Calgary,AB","headers":{},"body":{"string":""},"method":"get"},"recorded_at":"Sat, 09 Feb 2013 18:43:08 GMT","response":{"http_version":null,"headers":{"Content-Type":["text/xml"], "X-Creationtime":["0.044"]},"body":{"string":"\t<current_observation>\n\t\t<credit>Weather Underground NOAA Weather Station</credit>\n\t\t<credit_URL>http://wunderground.com/</credit_URL>\n<termsofservice link=\"http://www.wunderground.com/weather/api/d/terms.html\">This feed will be deprecated. Please switch to http://www.wunderground.com/weather/api/</termsofservice>\n\t\t<image>\n\t\t<url>http://icons-ak.wxug.com/graphics/wu2/logo_130x80.png</url>\n\t\t<title>Weather Underground</title>\n\t\t<link>http://wunderground.com/</link>\n\t\t</image>\n  <display_location>\n  <full>Calgary, Alberta</full>\n  <city>Calgary</city>\n  <state>AB</state>\n  <state_name>Alberta</state_name>\n  <country>CA</country>\n  <country_iso3166>CA</country_iso3166>\n  <zip>00000</zip>\n  <latitude>51.11999893</latitude>\n  <longitude>-114.01999664</longitude>\n  <elevation>1084.00000000 ft</elevation>\n  </display_location>\n\t\t<observation_location>\n\t\t<full>Calgary, </full>\n\t\t<city>Calgary</city>\n\t\t<state></state>\n\t\t<country>CA</country>\n\t\t<country_iso3166>CA</country_iso3166>\n\t\t<latitude>51.11999893</latitude>\n\t\t<longitude>-114.01999664</longitude>\n\t\t<elevation>3556 ft</elevation>\n\t\t</observation_location>\n\t\t<station_id>CYYC</station_id>\n\t\t<observation_time>Last Updated on February 9, 11:00 AM MST</observation_time>\n\t\t<observation_time_rfc822>Sat, 09 Feb 2013 18:00:00 GMT</observation_time_rfc822>\n\t\t<observation_epoch>1360432800</observation_epoch>\n\t\t<local_time>February 9, 11:43 AM MST</local_time>\n\t\t<local_time_rfc822>Sat, 09 Feb 2013 18:43:07 GMT</local_time_rfc822>\n\t\t<local_epoch>1360435387</local_epoch>\n\t\t<weather>Mostly Cloudy</weather>\n\t\t<temperature_string>36 F (2 C)</temperature_string>\n\t\t<temp_f>36</temp_f>\n\t\t<temp_c>2</temp_c>\n\t\t<relative_humidity>70%</relative_humidity>\n\t\t<wind_string>From the NW at 18 MPH Gusting to 26 MPH</wind_string>\n\t\t<wind_dir>NW</wind_dir>\n\t\t<wind_degrees>310</wind_degrees>\n\t\t<wind_mph>18</wind_mph>\n\t\t<wind_gust_mph>26</wind_gust_mph>\n\t\t<pressure_string>29.98 in (1015 mb)</pressure_string>\r\n\t\t<pressure_mb>1015</pressure_mb>\r\n\t\t<pressure_in>29.98</pressure_in>\r\n\t\t<dewpoint_string>27 F (-3 C)</dewpoint_string>\r\n\t\t<dewpoint_f>27</dewpoint_f>\r\n\t\t<dewpoint_c>-3</dewpoint_c>\r\n\t\t\r\n\t\t<heat_index_string>NA</heat_index_string>\r\n\t\t<heat_index_f>NA</heat_index_f>\r\n\t\t<heat_index_c>NA</heat_index_c>\r\n\t\t\r\n\t\t\r\n\t\t<windchill_string>25 F (-4 C)</windchill_string>\r\n\t\t<windchill_f>25</windchill_f>\r\n\t\t<windchill_c>-4</windchill_c>\r\n\t\t\r\n\t\t<visibility_mi>20.0</visibility_mi>\r\n\t\t<visibility_km>32.2</visibility_km>\r\n\t\t<icons>\r\n\t\t\t<icon_set name=\"Default\">\r\n\t\t\t\t<icon_url>http://icons-ak.wxug.com/i/c/a/mostlycloudy.gif</icon_url>\r\n\t\t\t</icon_set>\r\n\t\t\t<icon_set name=\"Smiley\">\r\n\t\t\t\t<icon_url>http://icons-ak.wxug.com/i/c/b/mostlycloudy.gif</icon_url>\r\n\t\t\t</icon_set>\r\n\t\t\t<icon_set name=\"Generic\">\r\n\t\t\t\t<icon_url>http://icons-ak.wxug.com/i/c/c/mostlycloudy.gif</icon_url>\r\n\t\t\t</icon_set>\r\n\t\t\t<icon_set name=\"Old School\">\r\n\t\t\t\t<icon_url>http://icons-ak.wxug.com/i/c/d/mostlycloudy.gif</icon_url>\r\n\t\t\t</icon_set>\r\n\t\t\t<icon_set name=\"Cartoon\">\r\n\t\t\t\t<icon_url>http://icons-ak.wxug.com/i/c/e/mostlycloudy.gif</icon_url>\r\n\t\t\t</icon_set>\r\n\t\t\t<icon_set name=\"Mobile\">\r\n\t\t\t\t<icon_url>http://icons-ak.wxug.com/i/c/f/mostlycloudy.gif</icon_url>\r\n\t\t\t</icon_set>\r\n\t\t\t<icon_set name=\"Simple\">\r\n\t\t\t\t<icon_url>http://icons-ak.wxug.com/i/c/g/mostlycloudy.gif</icon_url>\r\n\t\t\t</icon_set>\r\n\t\t\t<icon_set name=\"Contemporary\">\r\n\t\t\t\t<icon_url>http://icons-ak.wxug.com/i/c/h/mostlycloudy.gif</icon_url>\r\n\t\t\t</icon_set>\r\n\t\t\t<icon_set name=\"Helen\">\r\n\t\t\t\t<icon_url>http://icons-ak.wxug.com/i/c/i/mostlycloudy.gif</icon_url>\r\n\t\t\t</icon_set>\r\n\t\t\t<icon_set name=\"Incredible\">\r\n\t\t\t\t<icon_url>http://icons-ak.wxug.com/i/c/k/mostlycloudy.gif</icon_url>\r\n\t\t\t</icon_set>\r\n\t\t</icons>\r\n\t\t<icon_url_base>http://icons-ak.wxug.com/graphics/conds/</icon_url_base>\r\n\t\t<icon_url_name>.GIF</icon_url_name>\r\n\t\t<icon>mostlycloudy</icon>\r\n\t\t<forecast_url>http://www.wunderground.com/global/stations/71877.html</forecast_url>\r\n\t\t<history_url>http://www.wunderground.com/history/airport/CYYC/2013/2/9/DailyHistory.html</history_url>\r\n\t\t<ob_url>http://www.wunderground.com/cgi-bin/findweather/getForecast?query=51.11999893,-114.01999664</ob_url>\r\n\t</current_observation>\r\n"},"status":{"message":"OK","code":200}}},{"request":{"uri":"http://api.wunderground.com/auto/wui/geo/ForecastXML/index.xml?query=Calgary,AB","headers":{},"body":{"string":""},"method":"get"},"recorded_at":"Sat, 09 Feb 2013 18:43:08 GMT","response":{"http_version":null,"headers":{"Content-Type":["text/xml"], "X-Creationtime":["0.069"]},"body":{"string":"<?xml version=\"1.0\" ?>\n<forecast>\n\t\t<termsofservice link=\"http://www.wunderground.com/weather/api/d/terms.html\">This feed will be deprecated. Please switch to http://www.wunderground.com/weather/api/</termsofservice>\n\t<txt_forecast>\n  <date>5:00 PM MST</date>\n  <number></number>\n\t\t<forecastday>\n\t\t<period>0</period>\n\t\t<icon>sunny</icon>\n\t\t<icons>\n\t\t<icon_set name=\"Default\">\n\t\t<icon_url>http://icons-ak.wxug.com/i/c/a/sunny.gif</icon_url>\n\t\t</icon_set>\n\t\t<icon_set name=\"Smiley\">\n\t\t<icon_url>http://icons-ak.wxug.com/i/c/b/sunny.gif</icon_url>\n\t\t</icon_set>\n\t\t<icon_set name=\"Generic\">\n\t\t<icon_url>http://icons-ak.wxug.com/i/c/c/sunny.gif</icon_url>\n\t\t</icon_set>\n\t\t<icon_set name=\"Old School\">\n\t\t<icon_url>http://icons-ak.wxug.com/i/c/d/sunny.gif</icon_url>\n\t\t</icon_set>\n\t\t<icon_set name=\"Cartoon\">\n\t\t<icon_url>http://icons-ak.wxug.com/i/c/e/sunny.gif</icon_url>\n\t\t</icon_set>\n\t\t<icon_set name=\"Mobile\">\n\t\t<icon_url>http://icons-ak.wxug.com/i/c/f/sunny.gif</icon_url>\n\t\t</icon_set>\n\t\t<icon_set name=\"Simple\">\n\t\t<icon_url>http://icons-ak.wxug.com/i/c/g/sunny.gif</icon_url>\n\t\t</icon_set>\n\t\t<icon_set name=\"Contemporary\">\n\t\t<icon_url>http://icons-ak.wxug.com/i/c/h/sunny.gif</icon_url>\n\t\t</icon_set>\n\t\t<icon_set name=\"Helen\">\n\t\t<icon_url>http://icons-ak.wxug.com/i/c/i/sunny.gif</icon_url>\n\t\t</icon_set>\n\t\t<icon_set name=\"Incredible\">\n\t\t<icon_url>http://icons-ak.wxug.com/i/c/k/sunny.gif</icon_url>\n\t\t</icon_set>\n\t\t</icons>\n\t\t<title>February 8, 2013</title>\n\t\t<fcttext>Clear. High 6&amp;deg;C (42&amp;deg;F). Winds 0 kph North</fcttext>\n\t\t<pop>0</pop>\n\t\t</forecastday>\n\t\t<forecastday>\n\t\t<period>1</period>\n\t\t<icon>mostlysunny</icon>\n\t\t<icons>\n\t\t<icon_set name=\"Default\">\n\t\t<icon_url>http://icons-ak.wxug.com/i/c/a/mostlysunny.gif</icon_url>\n\t\t</icon_set>\n\t\t<icon_set name=\"Smiley\">\n\t\t<icon_url>http://icons-ak.wxug.com/i/c/b/mostlysunny.gif</icon_url>\n\t\t</icon_set>\n\t\t<icon_set name=\"Generic\">\n\t\t<icon_url>http://icons-ak.wxug.com/i/c/c/mostlysunny.gif</icon_url>\n\t\t</icon_set>\n\t\t<icon_set nam[...]
