{"http_interactions":[{"request":{"method":"get","uri":"http://api.wunderground.com/auto/wui/geo/WXCurrentObXML/index.xml?query=Calgary,AB","body":{"encoding":"UTF-8","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"X-Creationtime":["0.033"], "Cneonction":["close"], "Content-Type":["text/xml"]},"body":{"encoding":"UTF-8","string":"\t<current_observation>\n\t\t<credit>Weather Underground NOAA Weather Station</credit>\n\t\t<credit_URL>http://wunderground.com/</credit_URL>\n<termsofservice link=\"http://www.wunderground.com/weather/api/d/terms.html\">This feed will be deprecated. Please switch to http://www.wunderground.com/weather/api/</termsofservice>\n\t\t<image>\n\t\t<url>http://icons-ak.wxug.com/graphics/wu2/logo_130x80.png</url>\n\t\t<title>Weather Underground</title>\n\t\t<link>http://wunderground.com/</link>\n\t\t</image>\n  <display_location>\n  <full>Calgary, Alberta</full>\n  <city>Calgary</city>\n  <state>AB</state>\n  <state_name>Alberta</state_name>\n  <country>CA</country>\n  <country_iso3166>CA</country_iso3166>\n  <zip>00000</zip>\n  <latitude>51.11999893</latitude>\n  <longitude>-114.01999664</longitude>\n  <elevation>1084.00000000 ft</elevation>\n  </display_location>\n\t\t<observation_location>\n\t\t<full>Calgary, </full>\n\t\t<city>Calgary</city>\n\t\t<state></state>\n\t\t<country>CA</country>\n\t\t<country_iso3166>CA</country_iso3166>\n\t\t<latitude>51.11999893</latitude>\n\t\t<longitude>-114.01999664</longitude>\n\t\t<elevation>3556 ft</elevation>\n\t\t</observation_location>\n\t\t<station_id>CYYC</station_id>\n\t\t<observation_time>Last Updated on October 26, 8:00 AM MDT</observation_time>\n\t\t<observation_time_rfc822>Sat, 26 Oct 2013 14:00:00 GMT</observation_time_rfc822>\n\t\t<observation_epoch>1382796000</observation_epoch>\n\t\t<local_time>October 26, 8:55 AM MDT</local_time>\n\t\t<local_time_rfc822>Sat, 26 Oct 2013 14:55:42 GMT</local_time_rfc822>\n\t\t<local_epoch>1382799342</local_epoch>\n\t\t<weather>Partly Cloudy</weather>\n\t\t<temperature_string>43 F (6 C)</temperature_string>\n\t\t<temp_f>43</temp_f>\n\t\t<temp_c>6</temp_c>\n\t\t<relative_humidity>49%</relative_humidity>\n\t\t<wind_string>From the NNW at 2 MPH </wind_string>\n\t\t<wind_dir>NNW</wind_dir>\n\t\t<wind_degrees>340</wind_degrees>\n\t\t<wind_mph>2</wind_mph>\n\t\t<wind_gust_mph></wind_gust_mph>\n\t\t<pressure_string>30.19 in (1022 mb)</pressure_string>\r\n\t\t<pressure_mb>1022</pressure_mb>\r\n\t\t<pressure_in>30.19</pressure_in>\r\n\t\t<dewpoint_string>25 F (-4 C)</dewpoint_string>\r\n\t\t<dewpoint_f>25</dewpoint_f>\r\n\t\t<dewpoint_c>-4</dewpoint_c>\r\n\t\t\r\n\t\t<heat_index_string>NA</heat_index_string>\r\n\t\t<heat_index_f>NA</heat_index_f>\r\n\t\t<heat_index_c>NA</heat_index_c>\r\n\t\t\r\n\t\t\r\n\t\t<windchill_string>NA</windchill_string>\r\n\t\t<windchill_f>NA</windchill_f>\r\n\t\t<windchill_c>NA</windchill_c>\r\n\t\t\r\n\t\t<visibility_mi>40.0</visibility_mi>\r\n\t\t<visibility_km>64.4</visibility_km>\r\n\t\t<icons>\r\n\t\t\t<icon_set name=\"Default\">\r\n\t\t\t\t<icon_url>http://icons-ak.wxug.com/i/c/a/partlycloudy.gif</icon_url>\r\n\t\t\t</icon_set>\r\n\t\t\t<icon_set name=\"Smiley\">\r\n\t\t\t\t<icon_url>http://icons-ak.wxug.com/i/c/b/partlycloudy.gif</icon_url>\r\n\t\t\t</icon_set>\r\n\t\t\t<icon_set name=\"Generic\">\r\n\t\t\t\t<icon_url>http://icons-ak.wxug.com/i/c/c/partlycloudy.gif</icon_url>\r\n\t\t\t</icon_set>\r\n\t\t\t<icon_set name=\"Old School\">\r\n\t\t\t\t<icon_url>http://icons-ak.wxug.com/i/c/d/partlycloudy.gif</icon_url>\r\n\t\t\t</icon_set>\r\n\t\t\t<icon_set name=\"Cartoon\">\r\n\t\t\t\t<icon_url>http://icons-ak.wxug.com/i/c/e/partlycloudy.gif</icon_url>\r\n\t\t\t</icon_set>\r\n\t\t\t<icon_set name=\"Mobile\">\r\n\t\t\t\t<icon_url>http://icons-ak.wxug.com/i/c/f/partlycloudy.gif</icon_url>\r\n\t\t\t</icon_set>\r\n\t\t\t<icon_set name=\"Simple\">\r\n\t\t\t\t<icon_url>http://icons-ak.wxug.com/i/c/g/partlycloudy.gif</icon_url>\r\n\t\t\t</icon_set>\r\n\t\t\t<icon_set name=\"Contemporary\">\r\n\t\t\t\t<icon_url>http://icons-ak.wxug.com/i/c/h/partlycloudy.gif</icon_url>\r\n\t\t\t</icon_set>\r\n\t\t\t<icon_set name=\"Helen\">\r\n\t\t\t\t<icon_url>http://icons-ak.wxug.com/i/c/i/partlycloudy.gif</icon_url>\r\n\t\t\t</icon_set>\r\n\t\t\t<icon_set name=\"Incredible\">\r\n\t\t\t\t<icon_url>http://icons-ak.wxug.com/i/c/k/partlycloudy.gif</icon_url>\r\n\t\t\t</icon_set>\r\n\t\t</icons>\r\n\t\t<icon_url_base>http://icons-ak.wxug.com/graphics/conds/</icon_url_base>\r\n\t\t<icon_url_name>.GIF</icon_url_name>\r\n\t\t<icon>partlycloudy</icon>\r\n\t\t<forecast_url>http://www.wunderground.com/global/stations/71877.html</forecast_url>\r\n\t\t<history_url>http://www.wunderground.com/history/airport/CYYC/2013/10/26/DailyHistory.html</history_url>\r\n\t\t<ob_url>http://www.wunderground.com/cgi-bin/findweather/getForecast?query=51.11999893,-114.01999664</ob_url>\r\n\t</current_observation>\r\n"},"http_version":null},"recorded_at":"Sat, 26 Oct 2013 14:55:42 GMT"},{"request":{"method":"get","uri":"http://api.wunderground.com/auto/wui/geo/ForecastXML/index.xml?query=Calgary,AB","body":{"encoding":"UTF-8","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"X-Creationtime":["0.073"], "Content-Type":["text/xml"]},"body":{"encoding":"UTF-8","string":"<?xml version=\"1.0\" ?>\n<forecast>\n\t\t<termsofservice link=\"http://www.wunderground.com/weather/api/d/terms.html\">This feed will be deprecated. Please switch to http://www.wunderground.com/weather/api/</termsofservice>\n\t<txt_forecast>\n  <date>6:00 PM MDT</date>\n  <number></number>\n\t\t<forecastday>\n\t\t<period>0</period>\n\t\t<icon>sunny</icon>\n\t\t<icons>\n\t\t<icon_set name=\"Default\">\n\t\t<icon_url>http://icons-ak.wxug.com/i/c/a/sunny.gif</icon_url>\n\t\t</icon_set>\n\t\t<icon_set name=\"Smiley\">\n\t\t<icon_url>http://icons-ak.wxug.com/i/c/b/sunny.gif</icon_url>\n\t\t</icon_set>\n\t\t<icon_set name=\"Generic\">\n\t\t<icon_url>http://icons-ak.wxug.com/i/c/c/sunny.gif</icon_url>\n\t\t</icon_set>\n\t\t<icon_set name=\"Old School\">\n\t\t<icon_url>http://icons-ak.wxug.com/i/c/d/sunny.gif</icon_url>\n\t\t</icon_set>\n\t\t<icon_set name=\"Cartoon\">\n\t\t<icon_url>http://icons-ak.wxug.com/i/c/e/sunny.gif</icon_url>\n\t\t</icon_set>\n\t\t<icon_set name=\"Mobile\">\n\t\t<icon_url>http://icons-ak.wxug.com/i/c/f/sunny.gif</icon_url>\n\t\t</icon_set>\n\t\t<icon_set name=\"Simple\">\n\t\t<icon_url>http://icons-ak.wxug.com/i/c/g/sunny.gif</icon_url>\n\t\t</icon_set>\n\t\t<icon_set name=\"Contemporary\">\n\t\t<icon_url>http://icons-ak.wxug.com/i/c/h/sunny.gif</icon_url>\n\t\t</icon_set>\n\t\t<icon_set name=\"Helen\">\n\t\t<icon_url>http://icons-ak.wxug.com/i/c/i/sunny.gif</icon_url>\n\t\t</icon_set>\n\t\t<icon_set name=\"Incredible\">\n\t\t<icon_url>http://icons-ak.wxug.com/i/c/k/sunny.gif</icon_url>\n\t\t</icon_set>\n\t\t</icons>\n\t\t<title>October 25, 2013</title>\n\t\t<fcttext>Clear. High 18&amp;deg;C (64&amp;deg;F). Winds 0 kph North</fcttext>\n\t\t<pop>0</pop>\n\t\t</forecastday>\n\t\t<forecastday>\n\t\t<period>1</period>\n\t\t<icon>sunny</icon>\n\t\t<icons>\n\t\t<icon_set name=\"Default\">\n\t\t<icon_url>http://icons-ak.wxug.com/i/c/a/sunny.gif</icon_url>\n\t\t</icon_set>\n\t\t<icon_set name=\"Smiley\">\n\t\t<icon_url>http://icons-ak.wxug.com/i/c/b/sunny.gif</icon_url>\n\t\t</icon_set>\n\t\t<icon_set name=\"Generic\">\n\t\t<icon_url>http://icons-ak.wxug.com/i/c/c/sunny.gif</icon_url>\n\t\t</icon_set>\n\t\t<icon_set name=\"Old School\">\n\t\t<[...]
