{"http_interactions":[{"request":{"uri":"http://weather.yahooapis.com/forecastrss?p=90210&u=c","headers":{},"body":{"string":""},"method":"get"},"recorded_at":"Sat, 09 Feb 2013 18:43:09 GMT","response":{"http_version":null,"headers":{"Content-Type":["text/xml;charset=UTF-8"]},"body":{"string":"<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\" ?>\n\t\t<rss version=\"2.0\" xmlns:yweather=\"http://xml.weather.yahoo.com/ns/rss/1.0\" xmlns:geo=\"http://www.w3.org/2003/01/geo/wgs84_pos#\">\n\t\t\t<channel>\n\t\t\n<title>Yahoo! Weather - Beverly Hills, CA</title>\n<link>http://us.rd.yahoo.com/dailynews/rss/weather/Beverly_Hills__CA/*http://weather.yahoo.com/forecast/USCA0090_c.html</link>\n<description>Yahoo! Weather for Beverly Hills, CA</description>\n<language>en-us</language>\n<lastBuildDate>Sat, 09 Feb 2013 9:51 am PST</lastBuildDate>\n<ttl>60</ttl>\n<yweather:location city=\"Beverly Hills\" region=\"CA\"   country=\"US\"/>\n<yweather:units temperature=\"C\" distance=\"km\" pressure=\"mb\" speed=\"km/h\"/>\n<yweather:wind chill=\"11\"   direction=\"90\"   speed=\"8.05\" />\n<yweather:atmosphere humidity=\"59\"  visibility=\"16.09\"  pressure=\"1017.7\"  rising=\"1\" />\n<yweather:astronomy sunrise=\"6:44 am\"   sunset=\"5:32 pm\"/>\n<image>\n<title>Yahoo! Weather</title>\n<width>142</width>\n<height>18</height>\n<link>http://weather.yahoo.com</link>\n<url>http://l.yimg.com/a/i/brand/purplelogo//uh/us/news-wea.gif</url>\n</image>\n<item>\n<title>Conditions for Beverly Hills, CA at 9:51 am PST</title>\n<geo:lat>34.08</geo:lat>\n<geo:long>-118.4</geo:long>\n<link>http://us.rd.yahoo.com/dailynews/rss/weather/Beverly_Hills__CA/*http://weather.yahoo.com/forecast/USCA0090_c.html</link>\n<pubDate>Sat, 09 Feb 2013 9:51 am PST</pubDate>\n<yweather:condition  text=\"Fair\"  code=\"34\"  temp=\"11\"  date=\"Sat, 09 Feb 2013 9:51 am PST\" />\n<description><![CDATA[\n<img src=\"http://l.yimg.com/a/i/us/we/52/34.gif\"/><br />\n<b>Current Conditions:</b><br />\nFair, 11 C<BR />\n<BR /><b>Forecast:</b><BR />\nSat - Sunny. High: 14 Low: 5<br />\nSun - Sunny. High: 15 Low: 4<br />\n<br />\n<a href=\"http://us.rd.yahoo.com/dailynews/rss/weather/Beverly_Hills__CA/*http://weather.yahoo.com/forecast/USCA0090_c.html\">Full Forecast at Yahoo! Weather</a><BR/><BR/>\n(provided by <a href=\"http://www.weather.com\" >The Weather Channel</a>)<br/>\n]]></description>\n<yweather:forecast day=\"Sat\" date=\"9 Feb 2013\" low=\"5\" high=\"14\" text=\"Sunny\" code=\"32\" />\n<yweather:forecast day=\"Sun\" date=\"10 Feb 2013\" low=\"4\" high=\"15\" text=\"Sunny\" code=\"32\" />\n<guid isPermaLink=\"false\">USCA0090_2013_02_10_7_00_PST</guid>\n</item>\n</channel>\n</rss>\n\n<!-- api25.weather.bf1.yahoo.com Sat Feb  9 18:43:08 PST 2013 -->\n"},"status":{"message":"OK","code":200}}}],"recorded_with":"VCR 2.4.0"}