---
http_interactions:
- request:
    method: get
    uri: http://a6786572886.api.wxbug.net/getLiveWeatherRSS.aspx?ACode=<WEATHERBUG_CODE>&OutputType=1&UnitType=1&zipCode=90210
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "<aws:weather xmlns:aws=\"http://www.aws.com/aws\"><aws:api version=\"2.0\"
        /><aws:WebURL>http://weather.weatherbug.com/CA/Los Angeles-weather.html?ZCode=Z5546&amp;Units=1&amp;stat=LSNGN</aws:WebURL><aws:InputLocationURL>http://weather.weatherbug.com/CA/Beverly
        Hills-weather.html?ZCode=Z5546&amp;Units=1</aws:InputLocationURL><aws:ob><aws:ob-date><aws:year
        number=\"2013\" /><aws:month number=\"2\" text=\"February\" abbrv=\"Feb\"
        /><aws:day number=\"9\" text=\"Saturday\" abbrv=\"Sat\" /><aws:hour number=\"8\"
        hour-24=\"08\" /><aws:minute number=\"38\" /><aws:second number=\"00\" /><aws:am-pm
        abbrv=\"AM\" /><aws:time-zone offset=\"-8\" text=\"Pacific Standard Time (USA)\"
        abbrv=\"PST\" /></aws:ob-date><aws:requested-station-id /><aws:station-id>LSNGN</aws:station-id><aws:station>Alexander
        Hamilton Senior HS</aws:station><aws:city-state zipcode=\"90034\">Los Angeles,
        \ CA</aws:city-state><aws:country>USA</aws:country><aws:latitude>34.0336112976074</aws:latitude><aws:longitude>-118.389999389648</aws:longitude><aws:site-url>http://www.hamiltonhighschool.net/</aws:site-url><aws:aux-temp
        units=\"&amp;deg;C\">13</aws:aux-temp><aws:aux-temp-rate units=\"&amp;deg;C\">1.0</aws:aux-temp-rate><aws:current-condition
        icon=\"http://deskwx.weatherbug.com/images/Forecast/icons/cond026.gif\">Mostly
        Sunny</aws:current-condition><aws:dew-point units=\"&amp;deg;C\">4</aws:dew-point><aws:elevation
        units=\"m\">40</aws:elevation><aws:feels-like units=\"&amp;deg;C\">8</aws:feels-like><aws:gust-time><aws:year
        number=\"2013\" /><aws:month number=\"2\" text=\"February\" abbrv=\"Feb\"
        /><aws:day number=\"9\" text=\"Saturday\" abbrv=\"Sat\" /><aws:hour number=\"8\"
        hour-24=\"08\" /><aws:minute number=\"17\" /><aws:second number=\"00\" /><aws:am-pm
        abbrv=\"AM\" /><aws:time-zone offset=\"-8\" text=\"Pacific Standard Time (USA)\"
        abbrv=\"PST\" /></aws:gust-time><aws:gust-direction>ENE</aws:gust-direction><aws:gust-direction-degrees>50</aws:gust-direction-degrees><aws:gust-speed
        units=\"km/h\">13</aws:gust-speed><aws:humidity units=\"%\">81</aws:humidity><aws:humidity-high
        units=\"%\">100</aws:humidity-high><aws:humidity-low units=\"%\">81</aws:humidity-low><aws:humidity-rate>-7</aws:humidity-rate><aws:indoor-temp
        units=\"&amp;deg;C\">19</aws:indoor-temp><aws:indoor-temp-rate units=\"&amp;deg;C\">1</aws:indoor-temp-rate><aws:light>7.1</aws:light><aws:light-rate>0.6</aws:light-rate><aws:moon-phase
        moon-phase-img=\"http://api.wxbug.net/images/moonphase/mphase01.gif\">2</aws:moon-phase><aws:pressure
        units=\"mb\">1015.24</aws:pressure><aws:pressure-high units=\"mb\">1015.24</aws:pressure-high><aws:pressure-low
        units=\"mb\">1012.19</aws:pressure-low><aws:pressure-rate units=\"mb/h\">0.00</aws:pressure-rate><aws:rain-month
        units=\"mm\">0.51</aws:rain-month><aws:rain-rate units=\"mm/h\">0.00</aws:rain-rate><aws:rain-rate-max
        units=\"mm/h\">0.00</aws:rain-rate-max><aws:rain-today units=\"mm\">0.00</aws:rain-today><aws:rain-year
        units=\"mm\">24.38</aws:rain-year><aws:temp units=\"&amp;deg;C\">7.8</aws:temp><aws:temp-high
        units=\"&amp;deg;C\">8</aws:temp-high><aws:temp-low units=\"&amp;deg;C\">4</aws:temp-low><aws:temp-rate
        units=\"&amp;deg;C/h\">1.3</aws:temp-rate><aws:sunrise><aws:year number=\"2013\"
        /><aws:month number=\"2\" text=\"February\" abbrv=\"Feb\" /><aws:day number=\"9\"
        text=\"Saturday\" abbrv=\"Sat\" /><aws:hour number=\"6\" hour-24=\"06\" /><aws:minute
        number=\"44\" /><aws:second number=\"19\" /><aws:am-pm abbrv=\"AM\" /><aws:time-zone
        offset=\"-8\" text=\"Pacific Standard Time (USA)\" abbrv=\"PST\" /></aws:sunrise><aws:sunset><aws:year
        number=\"2013\" /><aws:month number=\"2\" text=\"February\" abbrv=\"Feb\"
        /><aws:day number=\"9\" text=\"Saturday\" abbrv=\"Sat\" /><aws:hour number=\"5\"
        hour-24=\"17\" /><aws:minute number=\"31\" /><aws:second number=\"50\" /><aws:am-pm
        abbrv=\"PM\" /><aws:time-zone offset=\"-8\" text=\"Pacific Standard Time (USA)\"
        abbrv=\"PST\" /></aws:sunset><aws:wet-bulb units=\"&amp;deg;C\">6.4</aws:wet-bulb><aws:wind-speed
        units=\"km/h\">3</aws:wind-speed><aws:wind-speed-avg units=\"km/h\">5</aws:wind-speed-avg><aws:wind-direction>ENE</aws:wind-direction><aws:wind-direction-degrees>54</aws:wind-direction-degrees><aws:wind-direction-avg>ENE</aws:wind-direction-avg></aws:ob></aws:weather>\r\n"
  recorded_at: Sat, 09 Feb 2013 16:38:40 GMT
- request:
    method: get
    uri: http://a6786572886.api.wxbug.net/getForecastRSS.aspx?ACode=<WEATHERBUG_CODE>&OutputType=1&UnitType=1&zipCode=90210
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/xml; charset=utf-8
    body:
      encoding: US-ASCII
      string: ! "<aws:weather xmlns:aws=\"http://www.aws.com/aws\"><aws:api version=\"2.0\"
        /><aws:WebURL>http://weather.weatherbug.com/CA/Beverly Hills-weather/local-forecast/7-day-forecast.html?ZCode=Z5546&amp;Units=1</aws:WebURL><aws:forecasts
        type=\"Detailed\" date=\"2/9/2013 3:10:00 AM\"><aws:location><aws:city>Beverly
        Hills</aws:city><aws:state>CA</aws:state><aws:zip>90210</aws:zip><aws:zone>CA041</aws:zone></aws:location><aws:forecast><aws:title
        alttitle=\"SAT\">Saturday</aws:title><aws:short-prediction>Mostly Sunny</aws:short-prediction><aws:image
        isNight=\"0\" icon=\"cond026.gif\">http://deskwx.weatherbug.com/images/Forecast/icons/cond026.gif</aws:image><aws:description>Saturday</aws:description><aws:prediction>Mostly
        sunny. Highs in the mid to upper 50s. West winds around 15 mph in the afternoon.</aws:prediction><aws:high
        units=\"&amp;deg;C\">13</aws:high><aws:low units=\"&amp;deg;C\">6</aws:low></aws:forecast><aws:forecast><aws:title
        alttitle=\"SUN\">Sunday</aws:title><aws:short-prediction>Partly Cloudy</aws:short-prediction><aws:image
        isNight=\"0\" icon=\"cond003.gif\">http://deskwx.weatherbug.com/images/Forecast/icons/cond003.gif</aws:image><aws:description>Sunday</aws:description><aws:prediction>Partly
        cloudy in the morning...then becoming sunny. Highs in the mid 50s to lower
        60s.</aws:prediction><aws:high units=\"&amp;deg;C\">14</aws:high><aws:low
        units=\"&amp;deg;C\">7</aws:low></aws:forecast><aws:forecast><aws:title alttitle=\"MON\">Monday</aws:title><aws:short-prediction>Sunny</aws:short-prediction><aws:image
        isNight=\"0\" icon=\"cond007.gif\">http://deskwx.weatherbug.com/images/Forecast/icons/cond007.gif</aws:image><aws:description>Monday</aws:description><aws:prediction>Sunny.
        Highs in the upper 50s to mid 60s.</aws:prediction><aws:high units=\"&amp;deg;C\">16</aws:high><aws:low
        units=\"&amp;deg;C\">7</aws:low></aws:forecast><aws:forecast><aws:title alttitle=\"TUE\">Tuesday</aws:title><aws:short-prediction>Mostly
        Sunny</aws:short-prediction><aws:image isNight=\"0\" icon=\"cond026.gif\">http://deskwx.weatherbug.com/images/Forecast/icons/cond026.gif</aws:image><aws:description>Tuesday</aws:description><aws:prediction>Mostly
        clear. Lows in the 40s to lower 50s. Highs in the 60s.</aws:prediction><aws:high
        units=\"&amp;deg;C\">18</aws:high><aws:low units=\"&amp;deg;C\">8</aws:low></aws:forecast><aws:forecast><aws:title
        alttitle=\"WED\">Wednesday</aws:title><aws:short-prediction>Mostly Sunny</aws:short-prediction><aws:image
[...]
