{"http_interactions":[{"request":{"method":"get","uri":"https://api.darkskyapp.com/v1/forecast/FORECAST_IO_APIKEY/42.7243,-73.6927?units=si","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "X-Forecast-Api-Calls":["1"], "Etag":["\"-1525689390\""]},"body":{"encoding":"US-ASCII","string":"{\"hourPrecipitation\":[{\"time\":1378348262,\"probability\":0,\"intensity\":0,\"error\":0,\"type\":\"rain\"},{\"time\":1378348322,\"probability\":0,\"intensity\":0,\"error\":0,\"type\":\"rain\"},{\"time\":1378348382,\"probability\":0,\"intensity\":0,\"error\":0,\"type\":\"rain\"},{\"time\":1378348442,\"probability\":0,\"intensity\":0,\"error\":0,\"type\":\"rain\"},{\"time\":1378348502,\"probability\":0,\"intensity\":0,\"error\":0,\"type\":\"rain\"},{\"time\":1378348562,\"probability\":0,\"intensity\":0,\"error\":0,\"type\":\"rain\"},{\"time\":1378348622,\"probability\":0,\"intensity\":0,\"err[...]
{"request":{"method":"get","uri":"https://api.forecast.io/forecast/FORECAST_IO_APIKEY/42.7243,-73.6927?units=si","body":{"encoding":"UTF-8","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["application/json; charset=utf-8"], "X-Forecast-Api-Calls":["2"], "Etag":["\"-1234689706\""], "X-Response-Time":["426ms"]},"body":{"encoding":"UTF-8","string":"{\"latitude\":42.7243,\"longitude\":-73.6927,\"timezone\":\"America/New_York\",\"offset\":-4,\"currently\":{\"time\":1382798511,\"summary\":\"Mostly Cloudy\",\"icon\":\"partly-cloudy-day\",\"precipIntensity\":0,\"precipProbability\":0,\"temperature\":6.46,\"apparentTemperature\":3.43,\"dewPoint\":0.37,\"windSpeed\":4.45,\"windBearing\":220,\"cloudCover\":0.77,\"humidity\":0.65,\"pressure\":1017.95,\"visibility\":16.09,\"ozone\":289.67},\"minutely\":{\"summary\":\"Mostly cloudy for the hour.\",\"icon\":\"partly-cloudy-day\",\"data\":[{\"time\":1382798460,\"precipIntensity\":0,\"precipProbability\":0},{\"time\":1382798520,\"precipIntensity\":0,\"precipProbability\":0},{\"time\":1382798580,\"precipIntensity\":0,\"precipProbability\":0},{\"time\":1382798640,\"precipIntensity\":0,\"precipProbability\":0},{\"time\":1382798700,\"precipIntensity\":0,\"precipProbability\":0},{\"time\":1382798760,\"precipIntensity\":0,\"precipProbability\":0},{\"time\":1382798820,\"precipIntensity\":0,\"precipProbability\":0},{\"time\":1382798880,\"[...]
