---
http_interactions:
- request:
    method: get
    uri: http://maps.googleapis.com/maps/api/geocode/json?address=90210&region=US&sensor=false
    body:
      encoding: US-ASCII
      string: ''
    headers: {}
  response:
    status:
      code: 200
      message: OK
    headers:
      Content-Type:
      - application/json; charset=UTF-8
    body:
      encoding: US-ASCII
      string: ! "{\n   \"results\" : [\n      {\n         \"address_components\" :
        [\n            {\n               \"long_name\" : \"90210\",\n               \"short_name\"
        : \"90210\",\n               \"types\" : [ \"postal_code\" ]\n            },\n
        \           {\n               \"long_name\" : \"Beverly Hills\",\n               \"short_name\"
        : \"Beverly Hills\",\n               \"types\" : [ \"locality\", \"political\"
        ]\n            },\n            {\n               \"long_name\" : \"Los Angeles\",\n
        \              \"short_name\" : \"Los Angeles\",\n               \"types\"
        : [ \"administrative_area_level_2\", \"political\" ]\n            },\n            {\n
        \              \"long_name\" : \"California\",\n               \"short_name\"
        : \"CA\",\n               \"types\" : [ \"administrative_area_level_1\", \"political\"
        ]\n            },\n            {\n               \"long_name\" : \"United
        States\",\n               \"short_name\" : \"US\",\n               \"types\"
        : [ \"country\", \"political\" ]\n            }\n         ],\n         \"formatted_address\"
        : \"Beverly Hills, CA 90210, USA\",\n         \"geometry\" : {\n            \"bounds\"
        : {\n               \"northeast\" : {\n                  \"lat\" : 34.13547710,\n
        \                 \"lng\" : -118.38671290\n               },\n               \"southwest\"
        : {\n                  \"lat\" : 34.0650940,\n                  \"lng\" :
        -118.44237810\n               }\n            },\n            \"location\"
        : {\n               \"lat\" : 34.10300320,\n               \"lng\" : -118.41046840\n
        \           },\n            \"location_type\" : \"APPROXIMATE\",\n            \"viewport\"
        : {\n               \"northeast\" : {\n                  \"lat\" : 34.13547710,\n
        \                 \"lng\" : -118.38671290\n               },\n               \"southwest\"
        : {\n                  \"lat\" : 34.0650940,\n                  \"lng\" :
        -118.44237810\n               }\n            }\n         },\n         \"types\"
        : [ \"postal_code\" ]\n      }\n   ],\n   \"status\" : \"OK\"\n}\n"
  recorded_at: Sat, 09 Feb 2013 16:39:49 GMT
recorded_with: VCR 2.4.0
