{"http_interactions":[{"request":{"method":"post","uri":"http://wherein.yahooapis.com/v1/document","body":{"encoding":"ASCII-8BIT","string":"documentType=text%2Fhtml&outputType=xml&documentContent=New+York%2C+NY&appid=<YAHOO_KEY>"},"headers":{"Content-Type":["application/x-www-form-urlencoded"]}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Language":["en"], "Content-Type":["text/xml; charset=UTF-8"], "X-Yahoo-Serving-Host":["wws18.geotech.bf1.yahoo.com"]},"body":{"encoding":"US-ASCII","string":"<?xml version=\"1.0\" encoding=\"utf-8\"?>\n<contentlocation xmlns:yahoo=\"http://www.yahooapis.com/v1/base.rng\" xmlns:xml=\"http://www.w3.org/XML/1998/namespace\" xmlns=\"http://wherein.yahooapis.com/v1/schema\" xml:lang=\"en\">\n<processingTime>0.001437</processingTime>\n<version>2.0.1.908 build 130416</version>\n<documentLength>12</documentLength>\n<document>\n<administrativeScope>\n<woeId>2459115</woeId>\n<type>Town</type>\n<name><![CDATA[New York, NY, US]]></name>\n<centroid>\n<latitude>40.7146</latitude>\n<longitude>-74.0071</longitude>\n</centroid>\n</administrativeScope>\n<geographicScope>\n<woeId>2459115</woeId>\n<type>Town</type>\n<name><![CDATA[New York, NY, US]]></name>\n<centroid>\n<latitude>40.7146</latitude>\n<longitude>-74.0071</longitude>\n</centroid>\n</geographicScope>\n<localScopes>\n<localScope>\n<woeId>2459115</woeId>\n<type>Town</type>\n<name><![CDATA[New York, NY, US (Town)]]></name>\n<centroid>\n<latitude>40.7146</latitude>\n<longitude>-74.0071</longitude>\n</centroid>\n<southWest>\n<latitude>40.4766</latitude>\n<longitude>-74.2589</longitude>\n</southWest>\n<northEast>\n<latitude>40.9176</latitude>\n<longitude>-73.7004</longitude>\n</northEast>\n<ancestors>\n<ancestor>\n<woeId>2347591</woeId>\n<type>State</type>\n<name><![CDATA[New York]]></name>\n</ancestor>\n<ancestor>\n<woeId>23424977</woeId>\n<type>Country</type>\n<name><![CDATA[United States]]></name>\n</ancestor>\n</ancestors>\n</localScope>\n</localScopes>\n<extents>\n<center>\n<latitude>40.7146</latitude>\n<longitude>-74.0071</longitude>\n</center>\n<southWest>\n<latitude>40.4766</latitude>\n<longitude>-74.2589</longitude>\n</southWest>\n<northEast>\n<latitude>40.9176</latitude>\n<longitude>-73.7004</longitude>\n</northEast>\n</extents>\n<placeDetails>\n<placeId>1</placeId>\n<place>\n<woeId>2459115</woeId>\n<type>Town</type>\n<name><![CDATA[New York, NY, US]]></name>\n<centroid>\n<latitude>40.7146</latitude>\n<longitude>-74.0071</longitude>\n</centroid>\n</place>\n<placeReferenceIds>1</placeReferenceIds>\n<matchType>0</matchType>\n<weight>1</weight>\n<confidence>10</confidence>\n</placeDetails>\n<referenceList>\n<reference>\n<woeIds>2459115</woeIds>\n<placeReferenceId>1</placeReferenceId>\n<placeIds>1</placeIds>\n<start>0</start>\n<end>12</end>\n<isPlaintextMarker>1</isPlaintextMarker>\n<text><![CDATA[New York, NY]]></text>\n<type>plaintext</type>\n<xpath><![CDATA[]]></xpath>\n</reference>\n</referenceList>\n</document>\n</contentlocation>\n"},"http_version":null},"recorded_at":"Sat, 20 Apr 2013 20:49:53 GMT"},[...]
