{"http_interactions":[{"request":{"method":"get","uri":"http://weather.yahooapis.com/forecastrss?p=USNY0996","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["text/xml;charset=UTF-8"]},"body":{"encoding":"US-ASCII","string":"<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\" ?>\n\t\t<rss version=\"2.0\" xmlns:yweather=\"http://xml.weather.yahoo.com/ns/rss/1.0\" xmlns:geo=\"http://www.w3.org/2003/01/geo/wgs84_pos#\">\n\t\t\t<channel>\n\t\t\n<title>Yahoo! Weather - New York, NY</title>\n<link>http://us.rd.yahoo.com/dailynews/rss/weather/New_York__NY/*http://weather.yahoo.com/forecast/USNY0996_f.html</link>\n<description>Yahoo! Weather for New York, NY</description>\n<language>en-us</language>\n<lastBuildDate>Sat, 20 Apr 2013 3:50 pm EDT</lastBuildDate>\n<ttl>60</ttl>\n<yweather:location city=\"New York\" region=\"NY\"   country=\"US\"/>\n<yweather:units temperature=\"F\" distance=\"mi\" pressure=\"in\" speed=\"mph\"/>\n<yweather:wind chill=\"60\"   direction=\"0\"   speed=\"7\" />\n<yweather:atmosphere humidity=\"28\"  visibility=\"10\"  pressure=\"30.01\"  rising=\"1\" />\n<yweather:astronomy sunrise=\"6:08 am\"   sunset=\"7:38 pm\"/>\n<image>\n<title>Yahoo! Weather</title>\n<width>142</width>\n<height>18</height>\n<link>http://weather.yahoo.com</link>\n<url>http://l.yimg.com/a/i/brand/purplelogo//uh/us/news-wea.gif</url>\n</image>\n<item>\n<title>Conditions for New York, NY at 3:50 pm EDT</title>\n<geo:lat>40.67</geo:lat>\n<geo:long>-73.94</geo:long>\n<link>http://us.rd.yahoo.com/dailynews/rss/weather/New_York__NY/*http://weather.yahoo.com/forecast/USNY0996_f.html</link>\n<pubDate>Sat, 20 Apr 2013 3:50 pm EDT</pubDate>\n<yweather:condition  text=\"Partly Cloudy\"  code=\"30\"  temp=\"60\"  date=\"Sat, 20 Apr 2013 3:50 pm EDT\" />\n<description><![CDATA[\n<img src=\"http://l.yimg.com/a/i/us/we/52/30.gif\"/><br />\n<b>Current Conditions:</b><br />\nPartly Cloudy, 60 F<BR />\n<BR /><b>Forecast:</b><BR />\nSat - Partly Cloudy. High: 57 Low: 37<br />\nSun - Sunny. High: 55 Low: 41<br />\n<br />\n<a href=\"http://us.rd.yahoo.com/dailynews/rss/weather/New_York__NY/*http://weather.yahoo.com/forecast/USNY0996_f.html\">Full Forecast at Yahoo! Weather</a><BR/><BR/>\n(provided by <a href=\"http://www.weather.com\" >The Weather Channel</a>)<br/>\n]]></description>\n<yweather:forecast day=\"Sat\" date=\"20 Apr 2013\" low=\"37\" high=\"57\" text=\"Partly Cloudy\" code=\"29\" />\n<yweather:forecast day=\"Sun\" date=\"21 Apr 2013\" low=\"41\" high=\"55\" text=\"Sunny\" code=\"32\" />\n<guid isPermaLink=\"false\">USNY0996_2013_04_21_7_00_EDT</guid>\n</item>\n</channel>\n</rss>\n\n<!-- api23.weather.bf1.yahoo.com Sat Apr 20 21:27:58 PST 2013 -->\n"},"http_version":null},"recorded_at":"Sat, 20 Apr 2013 21:27:58 GMT"},{"request":{"method":"get","uri":"http://weather.yahooapis.com/forecastrss?w=2459115","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Content-Type":["text/xml;charset=UTF-8"]},"body":{"encoding":"US-ASCII","string":"<?xml version=\"1.0\" encoding=\"UTF-8\" standalone=\"yes\" ?>\n\t\t<rss version=\"2.0\" xmlns:yweather=\"http://xml.weather.yahoo.com/ns/rss/1.0\" xmlns:geo=\"http://www.w3.org/2003/01/geo/wgs84_pos#\">\n\t\t\t<ch[...]
