{"http_interactions":[{"request":{"method":"get","uri":"http://xoap.weather.com/search/search?where=New%20York,%20NY","body":{"encoding":"US-ASCII","string":""},"headers":{}},"response":{"status":{"code":200,"message":"OK"},"headers":{"Svrname":["data1x02"], "Content-Type":["application/xml;charset=UTF-8"]},"body":{"encoding":"US-ASCII","string":"<?xml version=\"1.0\" encoding=\"UTF-8\"?>\r\n<!-- This document is intended only for use by authorized licensees of The  -->\r\n<!-- Weather Channel. Unauthorized use is prohibited.  Copyright 1995-2013, -->\r\n<!-- The Weather Channel Interactive, Inc.  All Rights Reserved.            -->\r\n<search ver=\"3.0\">\r\n  <loc id=\"USNY0996\" type=\"1\">New York, NY</loc>\r\n  <loc id=\"USNY0011\" type=\"1\">Albany, NY</loc>\r\n  <loc id=\"USNY0181\" type=\"1\">Buffalo, NY</loc>\r\n  <loc id=\"USNY1232\" type=\"1\">Rochester, NY</loc>\r\n  <loc id=\"USNY1434\" type=\"1\">Syracuse, NY</loc>\r\n  <loc id=\"USNY1010\" type=\"1\">Niagara Falls, NY</loc>\r\n  <loc id=\"USNY1630\" type=\"1\">York, NY</loc>\r\n  <loc id=\"USNY0997\" type=\"1\">New York Mills, NY</loc>\r\n  <loc id=\"USNY0998\" type=\"1\">New York/Central Park, NY</loc>\r\n  <loc id=\"USNY0999\" type=\"1\">New York/JFK Intl Arpt, NY</loc>\r\n</search>\r\n\r\n"},"http_version":null},"recorded_at":"Sat, 20 Apr 2013 19:41:43 GMT"}],"recorded_with":"VCR 2.4.0"}