<h1 id='about'>About</h1>

<p>Barometer was designed and developed by <strong>Mark G</strong> (attack).</p>

<p>Special thanks to the following individuals:</p>

<ul>
<li><a href='http://sinatra.github.com/'>Blake Mizerany</a> (bmizerany) for Sinatra and
  the inspiration for the layout of the demo app.</li>
</ul>